[2014-06-02 21:35] pas256 opened #1 "Fall back to local file when get.rvm.io is down"
This is probably just the worst timing ever, but get.rvm.io is down right now. I can't help but wonder how many ruby deployments aren't able to succeed now (not just from this, but globally).

It would be nice to have a fall back, so that when it is down, the last known rvm-installation file can be copied over and used.

Thoughts?

[2014-06-03 12:31] #1 closed, assigned to nobody

[2014-06-30 20:10] mpapis opened #2 "migrate repository to rvm organizartion"
I was thinking as you do quite good job here and use rvm we could migrate this repository to rvm organization, if you agree migrate to the rvm org and I will add you to rvm team so you can still have full access

[2014-07-03 19:47] #2 closed, assigned to nobody

[2014-07-09 09:21] paramadeep opened #3 "missing gemset with default ruby"
When I ran the role, the default ruby didn't have gemset associated. So I was promoted to create a gemset without which I was not able to precede. If we could add a task to do this it would be great.

[2014-07-18 19:58] flynfish opened #4 "task: detect stable rvm version fails"
[code]

I'm assuming this task shouldn't fail and the playbook should install the libs it needs right?

[2014-07-18 22:09] #4 closed, assigned to nobody

[2014-08-15 09:25] rngadam opened #5 "'apt-get install 'python-httplib2' ' failed: E: Could not open lock file /var/lib/dpkg/lock"
need to use a workaround to execute `sudo apt-get install 'python-httplib2'` when trying to install rvm to a single user using the rvm_io.rvm1-ruby role:

[code]

Otherwise, Ansible tries to apt-get package without sudo:

[code]

[2014-08-15 15:04] #5 closed, assigned to nobody

[2014-09-04 03:57] #3 closed, assigned to nobody

[2014-09-11 07:53] rngadam opened #6 "Support for proxy"
I use a Squid proxy to accelerate repeated virtual machines install provisioned using Ansible.

There doesn't seem to be a way to set environment variables globally per playbook or role so bundler, gem and rvm all need to be set separately

This is how it works for rvm: http://rvm.io/workflow/proxy

For now, I'll set up a ~/.curlrc, but it would be nice if the rvm1.io role would take a var for thi

[2014-09-11 10:50] rngadam opened #7 "Recursing through ~/.rvm directory to verify permission is expensive"
Given that there's ~700MB of Gems already installed in ~/.rvm, this operation is pretty expensive:

https://github.com/rvm/rvm1-ansible/blob/master/tasks/main.yml

[code]

(I do notice it more because this is done in a VirtualBox where the I/O is poor and it takes a minute or two to complete).

[2014-09-17 05:28] ktaragorn opened #8 "Installing in another users ~"
I am installing jenkins via ansible and I am trying to install rvm for it. I want to install rvm in `/var/lib/jenkins/.rvm` or rather `~/.rvm` for the jenkins user.

I tried

[code]

But that installed in `/usr/local/rvm`

I then added
`rvm1_install_path: '~/.rvm'`
and `sudo:false`
but this ended up installing to my SSH user's (`ubuntu`) `~/.rvm`

Is there a way to do this without hard coding the

[2014-09-20 16:34] #8 closed, assigned to nobody

[2014-09-20 16:34] #7 closed, assigned to nobody

[2014-09-23 14:26] bjallen opened #9 "role fails with --check flag"
Running a playbook with this role in --check mode seems to always fail. This is running against Ubuntu systems of different versions.

ansible 1.7.1

TASK: [rvm_io.rvm1-ruby | ensure rvm is upgraded] *****************************
fatal: [host_name] => error while evaluating conditional: rvm_binary.stat.exists and rvm_stable_version_number.content | default(rvm1_rvm_stable_version_number) | replace

[2014-10-14 22:13] jdart opened #13 "Fails on CentOS 7"
Hi developer,

I'm getting errors when running this against centos 7.

"No Package matching 'python-httplib2' found available, installed or updated"

The best way may be having pip install it, but pip isn't available as a package and it's installation would require several steps.

Thanks,
Jonathan

[2014-10-16 14:37] #13 closed, assigned to nobody

[2014-10-29 10:45] gmontard opened #14 "Role is broken by new RVM GPG Key validation"
Hello,

RVM updated its install process by adding a GPG Key.
This does break the ansible role.

Here is the error:

[code]

In order to make it work again it will be perfect if you could add this command before executing the role:

[code]

Thank you.

[2014-10-29 13:33] #14 closed, assigned to nobody

[2014-10-29 15:42] christopherhan opened #16 "GPG key verification failed"
I updated to version 1.3.1 of the playbook, but I am still receiving this error within Vagrant. Seems the "Import GPG keys" task is not running

[code]

[2014-11-17 11:20] #16 closed, assigned to nobody

[2014-11-19 14:09] asgerb opened #19 "Installing with --user-install never finishes"
Whenever I run the role intending to make a user install, the "Install rubies" task never finishes.
Here's the RVM portion of my yml:

[code]

Ansible runs through the previous tasks just fine, but hangs here:

[code]

And it never finishes. Hoping someone out there can help me, maybe I'm just specifying the configuration wrong?

The script is running on Ubuntu 14.04. My machine runs OS X Yosemite

[2014-11-19 15:40] #19 closed, assigned to nobody

[2014-11-21 15:31] flynfish opened #21 "Error on upgrade"
Similar issue as [this](https://github.com/wayneeseguin/rvm/issues/3028)? This happens when running against a box that used an older version of this galaxy role.

[code]

[2014-11-21 17:59] #21 closed, assigned to nobody

[2014-12-05 16:22] dferrazm opened #23 "Ownership of .rvm directory when installing as user"
So when I do an user wide installation, for example:

rvm1_install_flags: '--auto-dotfiles --user-install'
rvm1_install_path: '/home/deployer/.rvm'

The directory /home/deployer/.rvm is created successfully but with root as the owner. This behavior implies some issues, eg: when the user deployer tries to create gemsets inside the ~/.rvm/gems directory.

I'm working around this issue setting the ow

[2014-12-12 13:34] #23 closed, assigned to nobody

[2014-12-19 13:36] #6 closed, assigned to nobody

[2014-12-29 23:56] gbtestee opened #25 "Having to run ansible/role twice..."
in order for the variables to get set when running with vagrant.  Anyone else seen this?

[2014-12-31 16:23] scottrobertson opened #26 "symlink fail"
Any ideas?

[code]

[2015-01-07 22:58] wizonesolutions opened #27 "Allow setting default-used Ruby"
Can we have an `rvm1_default_ruby`? Right now, the one that gets used by default seems to be somewhat random. I installed `2.1.3` and `1.9.3` and the `1.9.3` got used.

[2015-01-27 18:36] trinitronx commented on #9
Configuration Managment tools such as Ansible, Puppet, and Chef each have their own equivalent of a dry-run check mode (Ansible: `--check`, Chef: `--why-run`, Puppet: `--noop`).  And each have their own issues.  Namely:  They can't guarantee that variables or resources on the system which are dependent on the previous state of the system will be exactly simulated in these modes.  They each will ei

[2015-02-09 15:19] udondan commented on #26
I have the same problem. Fresh installed CentOS 7.

[code]

This was working a while ago on the same OS. Some recent changes which might be causing this?

[2015-02-10 09:48] udondan commented on #26
Oh well, the directory really was missing. It's not there by default in RHEL/CentOS. Might be, I installed software previously which created the directory and now after the fresh system setup its missing.

[2015-02-10 15:45] GuitarrasDeAmor commented on #16
I'm still having this issue on a clean box that doesn't have RVM installed or ruby installed at all. I manually pulled down the keys running the gpg --keyserver hkp://keys.gnupg.net --recv-keys D39DC0E3 commands for both root and my other user. I get this:

This is on a clean server. Another server I already have this installed on works fine - I can rerun the role and it goes through and checks ok

[2015-02-10 20:59] GuitarrasDeAmor opened #31 "GPG Key Issues During Fresh Deployment"
Piggybacking on this issue: https://github.com/rvm/rvm1-ansible/issues/16
I'm still having this issue on a clean box that doesn't have RVM installed or ruby installed at all. I manually pulled down the keys running the gpg --keyserver hkp://keys.gnupg.net --recv-keys D39DC0E3 commands for both root and my other user to test that. I get this:

This is on a clean server. Another server I already hav

[2015-02-11 12:12] nickjj commented on #31
Is it causing the role to not be downloaded?

[2015-02-11 12:17] nickjj commented on #26
@udondan, so in the end it's working as intended?

[2015-02-11 12:29] udondan commented on #26
Well, I created the folder since by default it is not there on RHEL/CentOS. It's not that it is not used on those systems, a [definition](https://www.centos.org/docs/5/html/5.1/Deployment_Guide/s3-filesystem-usr-local.html) for it even exists - But you have to create it yourself. Maybe the role should create the folder if it doesn't exist.

I added this to my play:

Tasks:
[code]

And the handler

[2015-02-11 13:27] GuitarrasDeAmor commented on #31
Correct: This is the exact error I get.

[2015-02-11 13:36] nickjj commented on #31
Ok, @mpapis should be back at the end of the week. He'll look into it.

[2015-02-11 14:00] nickjj commented on #26
Yeah it definitely should if it doesn't exist. Would you mind sending a proper PR? I don't have a centos box to test against.

[2015-02-11 14:08] udondan commented on #26
Sure, give me some time though. If I got it right, this role is supposed to work in Ubuntu and RHEL/CentOS. I, on the other side, do not have an Ubuntu system to test. Is `/etc/profile` the proper file to insert the `$PATH` extension in Ubuntu?

[2015-02-11 14:22] nickjj commented on #26
You could just have your new tasks run for RHEL/CentOS using `ansible_os_family` in the `when` condition of your tasks.

I'm not sure what the value will be for both CentOS and RHEL tho. It might be `CentOS` for centos and `RedHat` for RHEL? If that's the case just throw it in an or condition of the `when` condition.

I recommend dropping them in here:
https://github.com/rvm/rvm1-ansible/blob/mast

[2015-02-11 17:31] ignaciom commented on #26
I'm having the same issue in Ubuntu 14.04.1 LTS.

[code]
And this is the output:
[code]

Also I think im up to date :
[code]

[2015-02-11 18:05] nickjj commented on #26
@ignaciom,

Where do you have rvm installed to? The symlink is expecting `/usr/local/rvm/` assuming you haven't adjusted the install path. A few releases ago the default rvm install directory was changed from `/usr/local/lib/rvm` to `/usr/local/rvm/`.

Perhaps you have ruby installed in the old lib/ path but now the new default var is pointing to the new non-lib/ path?

[2015-02-11 18:09] ignaciom commented on #26
@nickjj

I have it in /usr/local/rvm. But I found what the issue is..

/usr/local/rvm/wrappers/default -> /usr/local/rvm/wrappers/ruby-2.2.0

And I don't have that ruby installed !!!

Why is that the default ? lol

[2015-02-11 19:31] ignaciom commented on #26
I solved this by specifying a value for rvm1_default_ruby_version

[code]

I think there is something wrong with vars/main.yml:5

    rvm1_default_ruby_version: '{{ rvm1_rubies | last if rvm1_rubies and rvm1_rubies is iterable else "" }}'

It seems its not gathering the version from rvm1_rubies in the way I declared it. (shrug)

[2015-02-12 00:41] nickjj commented on #26
@ignaciom Try defining it as:

[code]

It is expecting a list, not string.

[2015-02-12 09:33] udondan commented on #26
It is `RedHat` for both. Consider this as a note to myself. ;)

[2015-02-17 16:26] cfoy opened #32 "Curl Dependency (Ubuntu)"
I'm new to ansible, so forgive me if I'm missing something obvious.

With the standard Vagrant Ubuntu 12.04 image (at least), curl is not installed by default, so rvm installation fails. If I add an apt pkg state=installed for curl to tasks/debian.yml, everything works fine.

Should curl be a dependency (at least for Debian-based systems)?

[2015-02-17 22:54] nickjj commented on #32
Which version of the role are you using?

[2015-02-18 00:34] cfoy commented on #32
v1.3.4 installed from ansible galaxy

[2015-02-23 14:43] GuitarrasDeAmor commented on #31
Any updates on this?

[2015-02-23 15:34] nickjj commented on #31
None. I was hoping @mpapis could look into it because he handles the gpg key related info.

[2015-02-23 15:36] mpapis commented on #31
oh sorry I missed the last message when I was deleting all my email (http://niczsoft.com/2015/02/changes-in-my-open-source-life/) - I will look into it in the evening (~4-5h)

[2015-02-24 11:32] arnlen commented on #31
Even if the issue referenced above is closed, the problem seems to persist.
I add it here for further mutal investigations : https://github.com/wayneeseguin/rvm/issues/3110

[2015-02-24 16:48] UnderGreen commented on #31
Hello guys.
I have workaround: just change rvm1_gpg_key_server to hkp://pgp.mit.edu

[2015-02-28 04:40] vladzaets commented on #26
I fixed this just adding `force: yes` as it said in the error message:

  `roles:`
`  - role: rvm_io.rvm1-ruby`
`    sudo: yes`
`    rvm1_rubies:`
`      - 'ruby-2.2.0'`
`    tags: ruby`
`    force: yes`

[2015-03-01 21:52] adrianlzt commented on #26
I had the same error because I was doing:
[code]

Fixed, as read here, with:
[code]

[2015-03-02 19:21] GuitarrasDeAmor commented on #31
That workaround did not work for me unfortunately @UnderGreen.

[2015-03-11 04:35] mateusduboli commented on #31
To solve this I needed to first bypass the key download setting the variable:
`rvm_gpg_key: ''`

And download the keys manually on the machine with:
[code]

[2015-03-15 07:02] d3netxer opened #33 "is rvm installed?"
I ran the rvm1-ansible role, after I started my virtual machine and typed in 'rvm' in the terminal, it outputted:

The program 'rvm' is currently not installed.  You can install it by typing:
apt-get install ruby-rvm

is rvm installed?

[2015-03-15 11:05] nickjj commented on #33
- Did you do a system wide or user install?
- What OS?
- Did the ansible run finish successfully?

[2015-03-15 18:29] d3netxer commented on #33
I did a system wide install (I didn't change the defaults), this is on Ubuntu 12.04, and Ansible finished without any errors.

After the machine was built I was looking into things, what got rvm working for me was adding rvm.sh to ~/.bashrc

so I added this task to my Ansible playbook:

- name: add rvm to bashrc
    lineinfile: dest=/home/vagrant/.bashrc line="source /etc/profile.d/rvm.sh"

now I

[2015-03-15 21:40] #26 closed

[2015-03-15 21:42] #25 closed

[2015-03-15 21:43] nickjj commented on #9
Going to close this for now. If anything ever comes out of this please open a new ticket @bjallen.

[2015-03-15 21:43] #9 closed

[2015-03-15 21:45] nickjj commented on #32
Sorry for the long delay. I wonder if this is specific to vagrant's image. I haven't experienced this elsewhere.

It is a bug nonetheless. I will add curl as a dependency in the next release.

[2015-03-15 21:46] nickjj commented on #33
And for confirmation, before adding that in you were able to run `ruby -v` as well as other ruby-related binaries right?

rvm itself is not symlinked during the install process but the other binaries are. Do you have a use for for manually running rvm on the system?

[2015-03-15 22:06] nickjj commented on #27
Fixed on master https://github.com/rvm/rvm1-ansible/commit/aefe5b0556c793707dde6ba99f2d23ec27721454.

[2015-03-15 22:06] #27 closed

[2015-03-15 22:09] nickjj commented on #32
`tasks/debian.yml` hasn't been around for a while now. Are you 100% sure 1.3.4 was being ran?

[2015-03-15 23:23] d3netxer commented on #33
I believe I was able to run ruby -v before.

I think I assumed I needed to manually run rvm, but know that I think about it I may not need to.

Thanks for the help.

[2015-03-18 03:54] tobijb commented on #31
@UnderGreen solution worked for me in the RVM rvm_io.rvm1-ruby/defaults/main.yml

[2015-03-25 11:55] matiaskorhonen opened #34 "ruby 2.1.3 being set has default even though ruby-2.2.1 is being installed."
My playbook has these variables defined:

[code]

Ruby 2.2.1 is being installed as it should, but when it comes time to set the default Ruby, for some reason Ruby 2.1.3 is being selected. As 2.1.3 isn't installed on the system, this breaks the rest of the playbook.
- ansible 1.8.4
- rvm1-ansible at aefe5b0556c793707dde6ba99f2d23ec27721454
- Installing on RHEL 7.1

Ansible log output with `-vvvv` (

[2015-03-25 14:04] nickjj commented on #34
Is this with a clean installation on the system where `2.1.3` was never once on the system?

[2015-03-25 14:14] matiaskorhonen commented on #34
It was there but was removed.

I removed every trace of it that I could find, including completely removing RVM itself.

The only way that I could get 2.2.1 to be the default version was by overriding the `rvm1_default_ruby_version ` variable: https://github.com/rvm/rvm1-ansible/compare/master...kiskolabs:master

[2015-03-26 04:02] resmall commented on #31
After I got the error, I removed the .gnupg directory, and proceeded as follows:

    rm -rf ~/.gnupg/
    curl -sSL https://rvm.io/mpapis.asc | gpg --import -
    curl -L https://get.rvm.io | bash -s stable
    source /home/vagrant/.rvm/scripts/rvm
    rvm -v
    rvm 1.26.10 (latest) by Wayne E. Seguin <wayneeseguin@gmail.com>, Michal Papis <mpapis@gmail.com> [https://rvm.io/]

[2015-03-26 11:58] nickjj commented on #34
There must have been something left over for it to pick 2.1.3 but in either case it should have set 2.2.1. Thanks for the report.

[2015-03-27 19:20] cfoy commented on #32
Sorry for the delay getting back to you. I was using 1.3.4, but I created `tasks/debian.yml` myself.

It looks like it's just the `hashicorp/precise64` image. The `ubuntu/precise64` and `ubuntu/trusty64` images all have curl installed, so it's probably fine to close.

[2015-03-27 21:43] nickjj commented on #32
Ok, going to close this. If more people come across missing curl dependencies in other "not really popular but not unheard of" images I will add in the curl dependency.

Thanks.

[2015-03-27 21:43] #32 closed

[2015-03-27 23:18] #33 closed

[2015-03-31 14:33] GuitarrasDeAmor commented on #31
The only solution I've found thus far is to just pull the key with the curl command above and comment out the piece that downloads it in the rvm.yml task.

[2015-03-31 14:37] mpapis commented on #31
maybe we could make it an option to pick import instead of server?

[2015-04-02 23:17] rrauenza opened #35 "Bundler doesn't get included?"
The rvm1 role attempts to create the symlinks for bundle and bundler into /usr/local/bin, but it looks like they (and the gem) haven't been installed yet:

[code]
My rubies list just contains ruby-1.9.3-p547 and rvm version is 1.26.11.  I'm using ansible 1.8.4 against a CentOS 7 box.

I'm confused -- I'm not sure how bundler is supposed to have been installed -- but it is explicitly listed in the

[2015-04-02 23:36] nickjj commented on #35
I only started using Ruby after 2.0, is it possible that bundler is not included with 1.9.3?

[2015-04-02 23:49] rrauenza commented on #35
I think that's the case ... Adding --with-gems=bundler to the rvm installer arguments seems to work.

I think when I was iterating the deployment at some point I must have manually installed bundler.

[2015-04-02 23:50] rrauenza commented on #35
Was gonna close, but wasn't sure if you want to detect < 2.0 and add the option yourself since your symlink loop depends on it.

[2015-04-03 00:07] nickjj commented on #35
I'm not a fan of solely checking `rvm1_rubies` and using it as a source of truth of the system. It gets tricky too because you can install more than 1 version of ruby.

I think we have 2 options:

- Set  `--with-gems=bundler` by default, is it smart enough to avoid extra work if ruby >= 2?
- Add documentation to warn people who are using 1.9.3 that they need to add that flag

Thoughts?

[2015-04-03 01:07] rrauenza commented on #35
Yeah, and if you add a 1.x ruby later you'd have to reinstall rvm to actually add the --with-gems.  I feel like the rvm installer is the wrong place to be specifying this in general.

I'm not sure what happens when I set --with-gems -- it starts out as an export environment variable:

[code]
Ah -- it looks like it may go in ~/.rvmrc

[code]

I just installed 2.2.1 on top of the existing rvm instal

[2015-04-03 20:51] rrauenza commented on #35
Something like this:

[code]

[2015-04-03 20:56] rrauenza commented on #35
Maybe something like this:

[code]

[2015-04-07 19:45] willseward commented on #35
I'm having the same problem. I agree with @rrauenza to create the "Install bundler if missing" task.

[2015-04-07 22:20] paulogeyer commented on #34
having a similar issue here, I've added 2.1.5 to the rubies list, but only 2.1.3 is installed

[code]

[2015-04-07 22:37] nickjj commented on #35
@willseward I'm guessing you're using Ruby 1.9.x as well?

@rrauenza Would you mind making a PR out of this, and also including a boolean option to the defaults? Something like `rvm1_install_bundler` , defaults to `true`. If true, your task runs. If false, it skips.

The documentation for it could be:

[code]

[2015-04-07 22:38] nickjj commented on #34
@paulogeyer Did you previously have 2.1.3 installed at some point?

[2015-04-07 22:47] willseward commented on #35
I'm using 1.8.7, but it's has the same effect on the role.

@nickjj Just a thought... Some applications just need the ruby environment without the bundler, like Phusion Passenger in my case. Do you think an option to exclude the bundler symlinks would be beneficial at all?

[2015-04-07 23:01] nickjj commented on #35
I think that would complicate the options of the role a lot, there would be too many states. Right now it's a little confusing even with this new proposed task because we have 2 states:

1. Bundler gets manually installed and symlinks get created (rvm1_install_bundler: true)
2. Bundler does not get manually installed and no symlinks get created (rvm1_install_bundler: false)

But the variable name

[2015-04-07 23:25] willseward commented on #35
I agree that is a bit confusing.

Could this work better? Probably directly before the symlink task

[code]

[2015-04-08 14:18] paulogeyer commented on #34
@nickjj no, it is a fresh ubuntu 14.04 system. Couldn't find any ruby packages using "dpkg -l|grep ruby"

[2015-04-09 23:03] gmalouf commented on #35
I think you mean when bundler_result != "bundler" right?

[2015-04-09 23:04] willseward commented on #35
Yes, thanks!

[2015-04-09 23:33] gmalouf commented on #35
I just tested this, it fails as follows:

TASK: [rvm_io.rvm1-ruby | Install bundler if not installed] *******************
failed: [52.5.35.135] => (item=ruby-2.0.0) => {"cmd": "/usr/local/rvm/wrappers/ruby-2.0.0/gem install bundler", "failed": true, "item": "ruby-2.0.0", "rc": 2}
msg: [Errno 2] No such file or directory

The reason is that /usr/local/rvm/wrappers contains the following:

default

[2015-04-09 23:34] nickjj commented on #35
You'll probably also need to do:
`when: bundler_result.stdout != "bundler"`

[2015-04-09 23:36] gmalouf commented on #35
@nickjj I'll try that out now.

[2015-04-14 14:05] byped commented on #35
Could this be related to rvm itself no longer installing bundler by default?

See: https://github.com/rvm/rvm/issues/3366

[2015-04-15 11:46] evserykh opened #38 "TASK: [rvm_io.rvm1-ruby | Install rubies] stucks"
I have playbook:

[code]

I try to execute
[code]

and RVM log shows installation process stops and waits for password
[code]

When I try to install ruby without
[code]
the Ruby installs fine, but TASK: [rvm_io.rvm1-ruby | Select default ruby] failed with Permission denied because ~/.rvm belongs to root

[2015-04-20 07:51] adamniedzielski commented on #35
I experienced it with Ruby 2.2.2. I think that @byped is right - that was the cause in my case.

[2015-04-20 09:55] nickjj commented on #35
Ok.

[2015-04-22 13:28] udondan commented on #35
I created a pull requests to fix this in #40, based on the code in this issue.

I merged it together in one task to speed things up. As well the `creates` arg requires the value to be a string. A list as posted above fails (at least in the Ansible _devel_ branch which is the upcoming 2.0 release) Checking on value though should be sufficient, I guess.

[2015-04-22 18:23] #35 closed

[2015-04-23 20:39] bfallik commented on #35
I believe this issue and the associated fix will address a build failure we're seeing. I wondering when to expect the update to appear on ansible galaxy?
  https://galaxy.ansible.com/list#/roles/1087
The latest version listed is 1.3.5 from January.

[2015-04-23 22:28] nickjj commented on #35
@bfallik Sorry about that. I merged in his PR but didn't create a release.

It's fixed, released and up on the Galaxy as `v1.3.6`.

[2015-04-23 22:34] bfallik commented on #35
Thanks! Turns out I'm not sure this PR addresses my issue but I'm going to retry with 1.3.6 instead of selectively applying the patch.

[2015-04-29 09:52] adamniedzielski opened #43 "Painful upgrade from version 1.3.1 to 1.3.7 because of rvm1_install_path change"
I was trying to upgrade from version 1.3.1 to 1.3.7
I got following error:

[code]

I have RVM installed in ```/usr/local/lib/rvm``` because this was the default directory in version in 1.3.1. It was later changed to ```/usr/local/rvm```, but RVM somehow didn't get "reinstalled" to this new directory after updating to 1.3.7. ```/usr/local/rvm/wrappers``` is empty. That's why installing bundler fai

[2015-05-05 20:33] demian711 opened #44 "Failed to validate the SSL certificate"
I was trying to do a fresh install on a totally new EC2 instance (Ubuntu 14) And I am getting a 'Failed to validate the SSL certificate' error on "TASK: [rvm_io.rvm1-ruby | Install rvm installer]". This is the ansible output:
TASK: [rvm_io.rvm1-ruby | Detect rvm installer] *******************************
ok: [52.5.52.143]

TASK: [rvm_io.rvm1-ruby | Detect current rvm version] *********************

[2015-05-06 16:10] dinapappor opened #45 "FreeBSD support"
I can't get this role to work with FreeBSD 10.1 running on ec2 with newly spun ami.

I get this:
[code]

Relevant parts of the playbook:

[code]

nginx does install fine.

[2015-05-06 16:16] dinapappor commented on #45
Seems, it's the ec2-user which I connect to with ssh that is making the trouble here. Adding it and will see if that fixes things.

[2015-05-06 16:39] dinapappor commented on #31
This is also happening on FreeBSD 10.1 with gpg 2.1.2.

[2015-05-06 16:40] dinapappor commented on #45
The problems I have now seems to be related to #31.

[2015-05-06 17:42] nickjj commented on #45
Ok, closing it. It is indeed related to #31.

[2015-05-06 17:42] #45 closed

[2015-05-07 05:10] dinapappor commented on #31
@mpapis or make it optional?

I guess you could add FreeBSD to the list of working platforms as well. Just tried the role (with the gpg commented out though) on a FreeBSD 10.1 instance on ec2.

[2015-05-07 08:52] minhdanh opened #46 "How to install executable gem?"
I can install executable gem with this command after installing rvm successfully:

`rvm rubygems current`

But how to do this with rvm1-ansible?

[2015-05-07 12:30] nickjj commented on #46
Did you do a system wide install? If so:

`/usr/local/rvm rubygems current`

[2015-05-07 12:31] nickjj commented on #44
I can't reproduce this. Have you tried re-running it?

[2015-05-07 12:32] nickjj commented on #43
I'm going to close this because it's an upgrade issue, not so much a bug.

If it comes up again, maybe we can add docs explain upgrading from an older version.

[2015-05-07 12:32] #43 closed

[2015-05-07 12:34] nickjj commented on #38
What happens if you set `sudo_user: 'user'` when you run the role?

[2015-05-07 15:08] minhdanh commented on #46
Hi, I didn't install it system wide.
The error appears as I run this task:
[code]
It tells me that the executable gem is not found. So I guess I need to install `gem` first with this task:

[code]
But this is not successful either. Yes, I'm not sure if that's the right way to call a command begin with `rvm` when I've already have the role `rvm_io.rvm1-ruby`.
As I notice when `rvm` is being install

[2015-05-07 15:24] nickjj commented on #46
Are you using version `1.3.6` or `1.3.7`?

[2015-05-08 03:36] minhdanh commented on #46
It's `1.3.7`.

[code]

[2015-05-15 08:19] rafadc commented on #38
Same problem here in an Ubuntu machine in Digital Ocean

Doing sudo_user: 'user' made no difference.

I'm installing RVM for a user that is not sudoer but connecting with root and using sudo_user to change to that user. Then I suppose that when RVM is installed it can't change back to root to install dependencies.

The same problem happens when you make the user sudoer but he needs a password.

Th

[2015-05-16 17:28] nickjj commented on #38
Ok, I'm going to close it for now. No prob, I'm glad you got things squared away for your use case.

[2015-05-16 17:28] #38 closed

[2015-05-28 14:34] didlix opened #47 "Permission denied when installing"
Tried this:

[code]

[code]

And this:

[code]

[code]

[2015-06-01 07:29] rossinkiwi commented on #31
To get this to work, I had to:
1. Manually ssh to server and execute `gpg --keyserver hkp://pgp.mit.edu --recv-keys D39DC0E3`
2. Set role variable `rvm1_gpg_keys: " "`
Would be nice to get this fixed...:)

[2015-06-11 10:00] OddEssay commented on #31
I've had this same problem (Using Vagrant, Ubuntu 14.04)

@UnderGreen's solution of setting the rvm1_gpg_key_server to hkp://pgp.mit.edu
[code]

[2015-06-13 11:13] jinhianlee opened #49 "Error (wrong wrapper dir) while trying to install bundler after Ruby 2.2.2"
Hi,

I've encountered an error when the script tries to install bundler after installing Ruby 2.2.2 - its trying to run ```gem``` commands from a missing directory: ```/home/vagrant/.rvm/wrappers/2.2.2/```

The correct directory appears to be ```/home/vagrant/.rvm/wrappers/ruby-2.2.2/```

Platform: fresh install of Ubuntu 14.04 on a VirtualBox VM using Vagrant on an OS X host.

The role config is:

[2015-06-15 19:07] gonfva commented on #49
Probably related to #46. I faced a similar issue. In my case I had set up rvm1_install_path to /usr/local/rvm but rubies and gems had end up under /usr/local/lib/rvm. So I changed rvm1_install_path to the second path and things worked. It is as if when installing rvm all the paths ended up messed up.

[2015-06-15 19:09] gonfva commented on #46
I faced a similar sympton described in https://github.com/rvm/rvm1-ansible/issues/46#issuecomment-99901857 (gem not found)
For me the issue was gem (and other files) ended up in a different folder. In my case I had set up rvm1_install_path to /usr/local/rvm but rubies and gems had end up under /usr/local/lib/rvm. So I changed rvm1_install_path to the second path and things worked. It is as if when

[2015-06-16 14:36] jinhianlee commented on #49
Actually, as it turned out, this is my bad - I was using the rvm short hand ('rvm install 2.2.2'), but  the correct way to specify the ruby version is the full name:
  rvm1_rubies:
              - 'ruby-2.2.2'

Because I was bootstrapping a VM via Vagrant's shell provisioner which runs as root, there was some additional confusion because paths did not resolve as I expected.

Closing this now.

[2015-06-16 14:36] #49 closed

[2015-06-23 02:18] Zeelot commented on #9
Wanted to suggest we at least improve this issue a bit. It's true that trying to run ansible with `--check` on a brand new instance will most likely fail on all sorts of steps. Files are missing, packages don't exist yet (missing apt repos), etc. There are way too many things missing to properly run with `--check`.

However, we can make this role run with `--check` on a provisioned machine. This a

[2015-06-25 02:41] nichenke commented on #31
Centos 6.6 (vagrant, "chef/centos-6.6") - and `rvm1_gpg_key_server: 'hkp://pgp.mit.edu'` fixed me up.

[2015-06-25 10:49] nickjj commented on #31
Seems like setting `rvm1_gpg_key_server: 'hkp://pgp.mit.edu'` is the way to go. Did this fix the issue for anyone else?

[2015-07-06 11:05] amritsingh commented on #44
If you are using ansible version below 1.9 you will face this issue. Please move to the latest version.

[2015-07-07 14:53] zephyr-dev commented on #31
Yes (setting `rvm1_gpg_key_server: 'hkp://pgp.mit.edu'`)

[2015-07-10 13:13] allomov commented on #31
@nickjj I still have this issue even with settings `rvm1_gpg_key_server: 'hkp://pgp.mit.edu'` var.

[2015-07-10 13:16] allomov commented on #31
when I run `gpg --list-keys D39DC0E3`, I've got the following output:
[code]
So I think that changes from https://github.com/rvm/rvm1-ansible/pull/36 will fix the issue for me.

[2015-08-25 10:56] jonfer commented on #44
I also had this problem, upgrading Ansible solved it :thumbsup:

[2015-08-25 11:50] nickjj commented on #44
Ok thanks guys, going to close this.

[2015-08-25 11:50] #44 closed

[2015-08-31 13:57] jbmyid opened #56 "Getting error on rvm Symlink ruby related binaries task"
TASK: [rvm_io.rvm1-ruby | Symlink ruby related binaries on the system path] ***
failed: [192.168.111.101] => (item=bundle) => {"failed": true, "gid": 0, "group": "root", "item": "bundle", "mode": "0755", "owner": "root", "path": "/usr/local/bin/bundle", "size": 498, "state": "file", "uid": 0}
msg: refusing to convert between file and link for /usr/local/rvm/wrappers/default/bundle
failed: [192.168

[2015-09-04 22:03] kinopyo commented on #56
I'm getting the same error, after that I ssh logged in to the server, the ruby was installed ok but not set as default

[2015-09-14 14:21] alex opened #58 "Skip downlaoding the gpg if it's already trusted"
This saves on a network round trip (which increases reliability)

[2015-09-17 13:31] Pepan commented on #9
It still happens with --check.
TASK: [rvm | Install rubies] **************************************************
fatal: [192.168.0.7] => error while evaluating conditional: rvm1_rubies and item.rc != 0

[2015-09-21 11:38] Pepan commented on #46
Hi.
I still have this problem and after hours of googling I still don't know how to solve this.
in role main.yml
[code]
produces
[code]
env info:
[code]

..."bundle install" works from command line over ssh.

Can you help me please?
Josef

[2015-09-21 12:06] nickjj commented on #46
@Pepan Did you try the solution listed above?

[2015-09-21 12:31] Pepan commented on #46
- name: Bundle project gems
  command: chdir="{{kiosk_executables}}/web" bundle install --without development test
  environment:
    PATH: /usr/local/rvm/gems/ruby-2.2.3/bin:/usr/local/rvm/gems/ruby-2.2.3@global/bin:/usr/local/rvm/rubies/ruby-2.2.3/bin:/usr/lib64/qt-3.3/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/usr/local/rvm/bin
    GEM_PATH: /usr/local/rvm/gems/ruby-2.2.3:/usr/local

[2015-09-22 16:10] hsamadi commented on #56
I'm getting the same error when I try to install ruby 2.0.0. It seems that the "Install bundler if not installed" task doesn't work correctly. So, the symlinking mechanism doesn't work as expected.
[code]

[2015-09-22 19:01] janost commented on #56
I was having the same problem because the 'rvm1_default_ruby_version' variable's value was '3', therefore it tried to create a default alias for '3', and naturally it failed. I didn't have time to further investigate this, but you can work around the problem by setting 'rvm1_default_ruby_version' manually. In my case the role looks like this:
`- { role: rvm_io.rvm1-ruby, rvm1_rubies: '{{ ruby_vers

[2015-09-23 04:53] hsamadi commented on #56
You may find [this commit](https://github.com/hsamadi/rvm1-ansible/commit/04087dd6b7126cfdfbb8df974273ca21d0303590) useful.

[2015-09-27 21:27] jumski opened #60 "Gems installed by root user lands in `/root/.gem`"
I install some ruby with this dependency:

[code]

and later on install a gem with following task:

[code]

them gem lands into `/root/.gem/ruby/2.0.0/gems/` instead of rvm's path. There is only a wrapper in `/usr/local/rvm` for `backup` binary.

I've tried with manually overriding environment like this:

[code]

but without any luck.

Is it even possible to use `gem_module` to install gems for rv

[2015-09-29 19:07] Yanchek99 opened #63 "RVM is not installed correctly"
See pull request which adds a test to the cli to issue the rvm command. #62

[2015-10-08 16:22] lyoshenka opened #64 "If running play locally, user needs to logout and log back in to get RVM in their $PATH"
The easy solution is to add a message that warns about this. The better solution is to somehow set the $PATH correctly for the current user.

[2015-10-08 16:23] lyoshenka commented on #64
Also, any gems installed before logging out and logging back in won't be in the $PATH either.

[2015-10-09 14:11] petRUShka opened #65 "Feature Request: add option to instal dependencies as root whereas rvm is installed locally"
I want to install rvm locally and want to automate dependencies installation but I don't want to add `sudo` to deploy user because of security reasons.

It would be great to have possibility to install dependencies as one user (e.g. `root`) and install rvm as another.

[2015-10-09 18:02] zachberry commented on #47
I'm running into the same problem, #37 fixes the issue for me.

[2015-10-21 07:34] ruudgrosmann opened #66 "user install hangs on user input"
hello,
I try to use the ansible role rvm_io.rvm1-ruby to install rvm for a certain user.
- role: rvm_io.rvm1-ruby
    when: true
    sudo: yes
    rvm1_user: 'archief'
    rvm1_rvm_version: 'stable'
    rvm1_rvm_check_for_updates: false
    rvm1_gpg_keys: ''
    rvm1_rubies:
      - 'ruby-1.9.3'
    rvm1_install_flags: '--auto-dotfiles --user-install'
    rvm1_install_path: '/home/archief/.rvm'

[2015-10-21 08:16] ruudgrosmann opened #67 "patch number must be included in rvm1_rubies?"
While trying to install rvm for a local user with ansible, I get an error message.

 - role: rvm_io.rvm1-ruby
      sudo: yes
      rvm1_user: 'archief'
      rvm1_rvm_version: 'stable'
      rvm1_rvm_check_for_updates: false
      rvm1_gpg_keys: ''
      rvm1_rubies:
        - 'ruby-1.9.3'
      rvm1_install_flags: '--auto-dotfiles --user-install'
      rvm1_install_path: '/home/archief/.rvm'

ou

[2015-11-03 10:14] ruudgrosmann opened #68 "install rvm installer fails"
After successfully installing rvm on a test server with rvm1-ansible, I tried to do the same on another machine (the same ubuntu version)

This fails with
TASK: [rvm_io.rvm1-ruby | Detect rvm installer] *******************************
ok: [host.nl] => {"changed": false, "stat": {"exists": false}}

TASK: [rvm_io.rvm1-ruby | Detect current rvm version] *************************
skipping: [host.nl]

[2015-11-03 10:58] ruudgrosmann commented on #68
the strange thing is that I get the error using this playbook fragment:

    - role: rvm_io.rvm1-ruby
      when: installeer_ruby
      sudo: true
      rvm1_user: '{{rvmuser}}'
      rvm1_rvm_version: 'stable'
      rvm1_rvm_check_for_updates: false
      rvm1_gpg_keys: ''
      rvm1_rubies:
        - 'ruby-1.9.3-p551'
      rvm1_install_flags: '--auto-dotfiles --user-install'
      rvm1_install_

[2015-11-03 11:59] ruudgrosmann commented on #68
I saw in your playbook that the task 'install rvm installer' actually does this:
curl -sSL https://raw.githubusercontent.com/wayneeseguin/rvm/master/binscripts/rvm-installer> /tmp//rvm-installer.sh
I did that manually and the step was skipped indeed. Thereafter, it hangs at
TASK: [rvm_io.rvm1-ruby | Install bundler if not installed] *******************
and eventually reports:
stderr: ERROR:  Could

[2015-11-03 12:26] nickjj commented on #68
Setting up a proxy seems a bit out of scope for this role, check out this related issue https://github.com/rvm/rvm1-ansible/issues/6.

[2015-11-03 12:38] ruudgrosmann commented on #68
I already did what was suggested there, namely supplying a .curlrc.
But this only works for the curl commands. And not for the rvm commands. If I only know how I can feed the shell with the necessary environment variables, I would be greatly helped. Don't you have an advice on this? I don;t want to tamper with the rvm1-ansible code. When I add them to your code, it works all right, but this not a

[2015-11-03 12:41] nickjj commented on #68
Unfortunately I'm not an expert with rvm. This role just helps you get rvm installed via ansible. @mpapis, any ideas?

[2015-11-03 13:25] ruudgrosmann commented on #68
mpapis en nick, although I feel really shamed, I want to report that the problem is gone after deleting the user (with its rvm install and config files) and running the same (previously failing) playbook again.
I want to thank you for your time spent on this.

[2015-11-03 13:25] #68 closed

[2015-11-03 13:35] nickjj commented on #68
No problem, glad you got it working.

[2015-11-06 12:10] anquegi opened #69 "Problem adding new gemset"
Thanks for this role, I suppose that I'm doing something wrong, the role is well installed and rvm works, when I ssh to the machine.

I can also install a ruby inside the playbook:
- name: Installing ruby
       shell: "/usr/local/rvm/bin/rvm install 2.1.6"
It works well

The problem is when I try to create a gemset:

- name: Preparing gemsets
       shell: "/usr/local/rvm/bin/rvm use 2.1.6@antifr

[2015-11-06 13:00] nickjj commented on #69
Did you follow the link it mentions to visit?

[2015-11-06 18:25] gmalouf opened #70 "Install hangs indefinitely when rvm needs to install ruby version not pre-compiled"
We are using ruby-2.0.0 on Ubuntu Trust for our ec2 machines.  We've been experiencing a behavior where the ansible deployment hangs indefinitely even after rvm has finished installing ruby as a part of this command:

- name: Install rubies
  command: '{{ rvm1_rvm }} install {{ item.item }} {{ rvm1_ruby_install_flags }}'
  when: rvm1_rubies and item.rc != 0
  with_items: detect_rubies.results
  su

[2015-11-06 18:44] nickjj commented on #70
How long did you give it to compile? On lower end instances it could take a long time.

[2015-11-06 19:41] gmalouf commented on #70
It takes like 20 minutes to compile - the issue is that ansible just keeps hanging even after this has finished...

[2015-11-09 10:08] anquegi commented on #69
Hi nickjj,

Yes I tried all of that, and nothing works I cannot create a gemset from ansible scripts

[2015-11-09 12:49] nickjj commented on #69
Hmm. I've never used gemsets before but this looks like a more generic error.

I'm guessing it works when you SSH into the server manually and create it?

[2015-11-19 14:24] bram70 commented on #46
I confirm I had the same issue, and solved sort of the same way @Pepan did.
I wonder if it's worth to merge this PR #71

[2015-11-19 14:38] bram70 opened #72 "Error bundler not found after 'rvm use ruby 2.2.2'"
while trying to run bundle install, we get the error:
[code]
Apparently bundle isn't installed, but if you dig deeper, bundler gem is installed in default gemset - this is only available when you run "rvm use ruby-2.2.2" (for this scenario) but we need it in any gemset: "rvm use ruby@gemset" and this is achieved by installing bundler gem in the "@global" gemset that is inherited by all the gemsets

[2015-11-19 15:00] bram70 commented on #72
solved with #71

[2015-11-19 15:00] #72 closed

[2015-11-19 15:32] mattmartini commented on #31
One of the issues that I ran into is that while I was able to import the
RVM Signing key, it was not trusted and therefor getting the new rvm failed.

What you have to do is trust the key, and more specifically you have to trust
the RVM Signing key, not the mater key.

You can follow the steps below to see how this is done.

    $ gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A

[2015-11-20 06:36] kraft001 commented on #66
Related to issue #38 , but they only suggest making the sudoer passwordless
I have the same issue and the same concerns, still looking for an answer

[2015-11-22 06:25] titib opened #73 "Symlink to bundler not working"
Version : master branch

After the installation of Bundler, in the step "Symlink ruby related binaries on the system path", the symlink to bundler failed. It is because bundler is located in the ruby@global directory

[code]

[2015-11-23 08:07] ruudgrosmann commented on #66
My workaround was to do the system requirements check beforehand, so that this update (withh apt-get) will not be executed by the rvm-user, but rather by the user that has sudo rights (and with the password provided by typing it in).
Once the rvm user does not need the sudo right to do the apt-get, everything work just fine. I think this should be better handled by the rvm-ansible role itself, but

[2015-12-01 16:42] L-P opened #74 "Commit 34445bee breaks the role."
[code]

Only defined var is `rvm1_rubies: ["ruby-2.2.3"]`, target machine is
running Ubuntu 14.04.3 (Vagrant ubuntu/trusty64), the host is using
Ansible 1.9.2.

[2015-12-08 20:32] JustinAiken opened #75 "rvm_rubies must be specified via `ruby-`"
- If you specify `2.2.3`:
  - It will install the ruby and set it as default okay
  - It will fail to install bundler: `/usr/local/rvm/wrappers/2.2.3/gem not found`
- If you specify `ruby-2.2.3`:
  - It uses the correct path:  `/usr/local/rvm/wrappers/ruby-2.2.3/gem`

Not sure if a note it the docs should point that out, or the playbook itself should adjust the input if needed, but thought I'd poi

[2015-12-11 14:45] Seraf commented on #67
Hello,

Same problem here.
I :+1: patches shouldn't be an issue to find the path and shouldn't be specified in the yaml

[2015-12-14 16:24] jonathansp commented on #31
Any ideas?
[code]

[2015-12-15 10:01] L-P commented on #74
Probably fixed in 2615824a7cd50b820d9da907b7ae690a0f28aa29. Works again.

[2015-12-15 10:01] #74 closed

[2015-12-15 12:14] nickjj commented on #74
Thanks for the confirmation.

[2015-12-22 13:10] allomov commented on #32
Hey, all.

I've faced this issue today. And it needed some time for debug. I've fixed it by adding `shrikeh.curl` role in dependencies before `rvm1-ansible`.

[2016-01-03 00:33] jawspeak commented on #47
I'm having the same problem, too. No activity on #37 though. Is that the best solution?

[2016-01-03 00:39] nickjj commented on #47
@jawspeak Can you confirm if #37fixes it for you?

[2016-01-03 00:44] jawspeak commented on #47
It did not. My error was on 'Update rvm' not 'Select default ruby'

[code]

I had to add this:
[code]

My playbook had:
[code]

Although then it has another error. Still working through this. I might go back to manually installing it in my own tasks.

[2016-01-07 17:22] Oliboy50 opened #77 "ruby version is not the expected one until I do "rvm reload""
After provisionning then ssh into my VM:
[code]

I guess the ruby version 1.8.x is installed from another role (I don't know which one), it's worth noting that I use `zsh` shell, not the default one.

My VM is based on Ubuntu 12.04.

How could I force `rvm reload` in order to always use the expected ruby version?

Thanks a lot

[2016-01-07 17:24] nickjj commented on #77
When you set `rvm_rubies` it should pick the last one as the default version.

You may want to set up a custom task to to do the reload since you have a use case that goes beyond the scope of this role.

[2016-01-07 20:10] Oliboy50 commented on #77
Thanks for the quick reply

After some digging, I found that my PATH env var was configured this way:
[code]

I just had to edit it this way:
[code]

Even if I'd prefer that the ruby binary was located here: `/usr/bin` instead of `/usr/local/rvm/rubies/ruby-2.2.2/bin/ruby`

[2016-01-07 20:10] #77 closed

[2016-01-08 00:52] alettieri opened #78 "errors in rubies task"
I'm receiving the following error during the Install rubies task:

`error while evaluating conditional: rvm1_rubies and item.rc != 0`

When looking at the *tasks/rubies.yml* file:

In task _[Install rubies](https://github.com/rvm/rvm1-ansible/blob/master/tasks/rubies.yml#L13)_:

[code]

It seems that the dict attribute `rc` may be missing at times.

It works fine when there's a fallback value.

[c

[2016-01-08 00:54] nickjj commented on #78
Hi, thanks a lot for the bug report. It would be awesome if you could create a PR out of this. I'll merge it into the next release.

[2016-01-08 01:04] alettieri commented on #78
Cool. will do.

[2016-01-08 05:49] alettieri commented on #78
Another note. I should have mentioned that this happens when I set the `--check` flag.

[2016-01-08 19:38] #78 closed

[2016-01-15 20:38] strarsis opened #80 "Reload shell"
It would be nice if the shell could be reloaded when the playbook is applied
by the same user for which ruby should be installed.

Thank you and
with best regards

[2016-01-15 20:58] strarsis opened #81 "Switch to ruby version"
When there is another role/playbook/external ansible code that should install a gem,
how can it easily switch to a ruby version to use its gem command?
Does this role offer a command or shortcut for this?

Thank you and
with best regards

[2016-01-16 13:02] nickjj commented on #81
The `bundle` and `gem` binaries are symlinked. You should be able to reference them directly from another role.

A full list of available binaries can be found here:
https://github.com/rvm/rvm1-ansible/blob/master/vars/main.yml#L9

[2016-01-16 13:04] nickjj commented on #80
If you login to your server over ssh and then install rvm, there's no real way for this role to reload your terminal's session. It would be up to you to do that on your end because it's related to your login session.

[2016-01-16 13:04] #80 closed

[2016-01-22 18:47] nathantypanski opened #82 "rvm1_rvm_latest_installer should point to rvm/rvm"
From `defaults/main.yml`:

[code]

Since rvm has moved, this should point to the new location.

[2016-01-25 14:40] Careerbuilder2016 commented on #70
Hi, I am encountering this problem as well. Installer hangs for very long time on the install rubies step. Any fix for this?

[2016-01-25 14:41] nickjj commented on #70
Not that I know of. I haven't been able to reproduce it. Are you also using ruby-2.0.0 specifically @Careerbuilder2016?

[2016-01-25 15:09] Careerbuilder2016 commented on #70
I am testing the playbook on Ubuntu Trusty Vagrant images. Any ruby hangs for me, but when I log into the VMs, I see RVM and all ruby versions installed even when ansible hangs.

[2016-01-25 21:28] Careerbuilder2016 commented on #70
Hi,
So it turns out that rvm calls a lot on apt-get. So when you actually run rvm install, apt-get is ran before it and updates the repository sources needed to be updated. If any one of the sources returns a 401 or 404, it breaks. If you force the apt-get update in a task before rvm install, it makes sure that rvm can call on apt-get update and install the dependencies for that ruby version. Also

[2016-01-26 19:54] nickjj commented on #70
This seems out of scope for this role. You should always be running an apt-get update on a fresh server.

[2016-01-26 20:48] Careerbuilder2016 commented on #70
Yes, but the reason Ansible can hang up on that task is when apt-get update has not been ran before. Therefore, the RVM script does not exit properly when that first apt-get call returns improper output and Ansible will hang as a result of that.

I did not plan to run apt-get before running this rvm role. For a Ruby Rails server, rvm should manage my commands to apt-get and download my first ruby.

[2016-01-26 21:07] nickjj commented on #70
Running an `apt-get update` is something you would typically run when spinning up a fresh server, with or without ruby. You absolutely should be running this in a task before using this role, it's a general thing to do.

rvm's use case is to install and manage ruby for you. Either by pulling down pre-compiled binaries, or compiling it for you.

If you feel that rvm should report a proper error for

[2016-02-02 09:45] holms commented on #70
@nickjj i just had this problem already with your role, and i've found what's the problem. rvm want's to install some dependencies, and it does `apt-get update` first, and then install few packages. I've solved this by finding rvm dependencies with `rvm requirements` command (i had to add user to sudoers for this), and then i've got those two packages which rvm tried to install.. and added to the

[2016-02-04 15:30] taichiman commented on #67
Thanks @ruudgrosmann , your good idea works. Ruby 1.9.3 has been insalled.

[2016-02-09 11:20] wunzeco opened #84 "Rubies and Gems of non-root rvm installation owned by root"
It is expected that when rvm1_user variable is non-root user, the rubies and gems of rvm installation should not be owned by root even if ansible was applied as root user.

Playbook
[code]

[files-not-rvm_user-owned.txt](https://github.com/rvm/rvm1-ansible/files/122966/files-not-rvm_user-owned.txt)

[code]

[2016-02-09 11:29] wunzeco commented on #84
## FIX

- Add `sudo_user` directive to tasks that install rubies and gems

[code]

[files-not-rvm_user-owned-after-fix.txt](https://github.com/rvm/rvm1-ansible/files/122989/files-not-rvm_user-owned-after-fix.txt)

[2016-02-16 06:30] udondan opened #86 "sudo is deprecated - switch to become"
When running a play which uses the rvm role this warning is shown:

    TASK [rvm_io.rvm1-ruby : include] **********************************************
    [DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default). This feature will be removed in a future release. Deprecation warnings can be disabled by setting deprecation_warnings=Fa

[2016-02-16 12:59] nickjj commented on #86
Thanks. This role hasn't been tested against Ansible 2.x yet.

[2016-02-16 15:19] udondan commented on #86
It is now tested by me. :) Though not all features. I use this role as a dependency in one of my role like this:

[code]

Other than the warning I didn't have any issues.

`become` is available since, I think, Ansible 1.9, so even folks who still use Ansible 1 could use the role with `become`. In fact, there was a problem in 1.9.x, since `become` was introduced. If one was using `become` on the ro

[2016-02-17 10:53] Heliosmaster commented on #73
I was installing ruby-2.1.2 and noticed that the /usr/local/rvm/wrappers/default was simlinked to ruby 2.2.1 instead of ruby 2.1.2

[2016-02-17 10:55] Heliosmaster commented on #34
Weirdly enough for me the default wrapper was simlinked to 2.2.1 and not the 2.1.2 i was installing

[2016-02-20 01:16] keyeh commented on #44
I'm getting the same error. I'm using the latest ansible 2.1.0 from git on a fresh ubuntu 14.04.4 install

[2016-03-10 19:35] nathantypanski commented on #82
Closed by #83.

[2016-03-10 19:35] #82 closed

[2016-03-14 10:55] ilyapoz commented on #86
+1 works with ansible 2.0.1.0 with warnings

[2016-03-15 18:51] nickjj commented on #86
Thanks for the updates.

[2016-03-18 16:53] flynfish commented on #56
@hsamadi thanks for that! You should submit a pull request :+1:

[2016-03-23 17:41] jrodrigosm commented on #32
Hi,

Debian 8 (Jessie) does not come with curl installed by default. In this case the role fails unless I install curl before running the role.

The workaround is pretty simple, I'm just letting you know so that you consider adding curl as a dependency.

[2016-03-23 18:32] jrodrigosm opened #88 "rvm not found?"
Hi,

I'm finding a strange behaviour after installing rvm: the rvm command is not found.

I am running the following playbook to install rvm, install a couple of ruby versions, and, after installation, check that rvm has been installed by printing the rvm version:

    ---
    - hosts: test
      become: yes

      pre_tasks:
        - name: Ensure curl is installed
          package: name=curl st

[2016-03-25 07:48] hut8 commented on #88
You're using `/bin/sh` with the [shell module](http://docs.ansible.com/ansible/shell_module.html). It behaves differently than `bash` which you are likely using interactively, including in which initialization files it runs. Also, with any shells (AFAIK), interactive and noninteractive shells run different initialization scripts as well. So in general this is not exactly a simple problem! Moreover

[2016-03-28 14:12] jrodrigosm commented on #88
I see ... This would rule out calling "rvm use" directly from the playbook.
Maybe anyone would have any pointers on accomplishing the following in just a single run of a playbook (I don't want to have to call the playbook twice)?:
- Download and install a new ruby version, while the old one is being used by the current release of the app- Download a new release of the app (this release will use th

[2016-03-28 16:16] hut8 commented on #88
I use Capistrano and Ansible. As you know, they're separate tools, but naturally they work together. Personally, I would completely separate upgrading Ruby from rolling out the new version of your application. I would modify your Ansible script first to install the new Ruby version:

[code]

That sets the last one as the default. You may want to be more explicit about this. I have my Passenger con

[2016-03-29 06:46] jrodrigosm commented on #88
The key is your point about the existing workers using the previous version until you restart the app server. I had not thought about that. That will work for me, it will minimize downtime.
I'm not using passenger but puma (with the puma jungle) so I need to do some research on my own to make sure that puma behaves in the way that you described, but this seems the way to go.
Thanks for your help.

[2016-03-30 11:00] Heliosmaster opened #89 "Bare variables deprecated"
`TASK [rvm_io.rvm1-ruby : Detect if rubies are installed] ***********************
[DEPRECATION WARNING]: Using bare variables is deprecated. Update your playbooks so that the environment value uses the full variable syntax ('{{rvm1_rubies}}'). This feature will be removed in a future release. Deprecation warnings can be disabled by setting
deprecation_warnings=False in ansible.cfg.`

And others si

[2016-04-06 16:01] wunzeco commented on #84
Fix merged into master. For further details see https://github.com/rvm/rvm1-ansible/pull/85

Nothing more to do.

[2016-04-06 16:01] #84 closed

[2016-04-15 18:36] lpaulmp commented on #86
I'm closing this issue as the last week was merged  https://github.com/rvm/rvm1-ansible/pull/85 which resolve this.

[2016-04-15 18:36] #86 closed

[2016-04-20 11:07] huanzhang commented on #31
I got this error
[code]

[2016-04-20 14:49] lpaulmp commented on #31
@huanzhang Could you add more info or run on debug mode -vvvv?

[2016-04-20 14:57] huanzhang commented on #31
@lpaulmp Sorry, I forgot to update that I have solved this problem. Actually, this was caused by incorrect DNS configuration of the vm:)

[2016-04-20 14:58] lpaulmp commented on #31
Thanks @huanzhang

[2016-04-21 03:38] lpaulmp commented on #88
@jrodrigosm Did you fix this issue?

[2016-04-21 03:41] lpaulmp commented on #81
@strarsis the last comment helped to resolve this issue?

[2016-04-21 08:59] wunzeco opened #96 "Update rvm1-ruby role on Ansible Galaxy please"
@lpaulmp, @dvanallen, @tarvip, @nickjj

Hi guys,

Any chance you could update this role on Ansible Galaxy please? I'm still getting the older version from Galaxy, which doesn't have the latest fixes.

Many thanks for your help.

[2016-04-21 15:31] #31 closed

[2016-04-21 15:50] strarsis commented on #81
Yes I think so.

[2016-04-21 15:50] #81 closed

[2016-04-21 16:43] lpaulmp commented on #96
@wunzeco The last release is now available [v1.3.8](https://galaxy.ansible.com/rvm_io/rvm1-ruby/)

[2016-04-21 16:43] #96 closed

[2016-05-01 10:31] namxam commented on #60
A response would be greatly appreciated. I am quite new to ansible and have the exact same issue with latest version of this role and ansible.

[2016-05-03 12:43] psk11 commented on #46
I have installed ruby using rvm and I can install gems by doing ssh into the machine but its failing with ansible. Below is my playbook where I am trying to install rails 4.2.0
- name: Install Gem Rails
  command: "gem install rails -v 4.2.0"

And its giving error as - **ERROR:  While executing gem ... (Errno::EACCES)\n    Permission denied - /var/lib/gems**

[2016-05-11 19:51] iteratelance commented on #88
I've run into the same issue and gotten around the problem by explicitly running the bash command for rvm commands.  I suppose you could also use the full path to rvm but I think that the following is a better option.

[code]

[2016-05-24 07:54] tjad commented on #69
Hi Nick,

I've run into the same problem - I haven't gone into further diagnoses as of yet, but when I do will add more information. Just noting that this is an actual issue (seems to have to do with permissions at first glance)

[2016-05-24 08:01] tjad commented on #69
Ah ok,

So I figured that due to a permissions error I would check the groups of my active user (the user I'm using for the command). They were not present within the `rvm` group.

After adding the user to the `rvm` group, all is well.

[2016-05-24 08:46] tjad commented on #69
Ok, so adding `rvm` group to my active user certainly worked - I don't know why as I've used the raised privileges (become). But it works. it all works nicely.

Thanks a lot for your work!

[2016-06-02 14:50] arturmartins opened #99 "Update min ansible version in meta/main.yml"
The commit https://github.com/rvm/rvm1-ansible/commit/d41109ab80a23cf1b8fcd63fcfd806c145a7d465 made this role incompatible with ansible 1.9.

Below the error that I got:
[code]

[2016-06-02 15:10] lpaulmp commented on #99
@arturmartins could you use an old release please?

[2016-06-03 18:42] lpaulmp commented on #99
@arturmartins I close this issue since there are old releases that support ansible 1.9

[2016-06-03 18:42] #99 closed

[2016-06-03 18:43] lpaulmp commented on #89
@Heliosmaster are you using the last release?

[2016-06-22 02:58] hut8 commented on #58
I'm having a lot of reliability issues with the key server which is making deploys less fun:

[code]

I can work on this tomorrow.

[2016-06-27 18:39] jstoeffler commented on #60
+1

[2016-07-03 20:18] x-yuri opened #101 "How to perform single-user installation?"
The `README.md` says this is what's needed:

[code]

Also, it says:

But when not specifying `rvm1_user`, it's gonna be `root`. And if it's root, `ansible_ssh_user` won't be able to install gems, create gemsets. Or so I think. Am I wrong?

**UPD** And `rvm` is sourced for `root`, not for `ansible_ssh_user`.

[2016-07-21 21:27] oscarhost opened #102 "Detect if rubies are installed doesn't look at the correct RVM when doing a user install"
become_user isn't called when checking which rubies are installed. This causes the module to think ruby is already installed for a user if the root user already has it installed.

In "tasks/rubies.yml"

Should be:

[2016-08-03 15:18] chadoh opened #103 "Allow skipping bundler installation"
I do not need bundler. If you'd like, I can add a `when:` condition to the "install bundler" step so that people can opt out of it.

[2016-08-04 19:12] gymzombie opened #104 "ERROR: become_user is not a legal parameter in an Ansible task or handler"
I receive this error when attempting to execute the role from within a playbook.

[2016-08-04 19:49] gymzombie commented on #104
Nevermind, I was running old version of Ansible. All good!

[2016-08-04 19:49] #104 closed

[2016-09-02 17:13] mrooney commented on #6
I agree that writing a curlrc is out of scope, but I would argue that proxy support in general is not. The relevant tasks should simply allow passing like an environment like we do for everything else: `environment: '{{ proxy_env }}'`. How about an rvm1_environment? Because there are various ones to set besides `http_proxy` including `CURL_CA_BUNDLE` if your org has their own certificate.

The mai

[2016-09-02 19:21] mpapis commented on #6
are you saying `environment` is not respected in this role? that would be a bug :)

[2016-09-05 05:08] mrooney commented on #6
@mpapis as far as I understood it, and last I tried, setting environment at the role level is not supported. That is, I cannot do `roles: { role: rvm_io.rvm1-ruby, environment: '{{ my_env }}' }` Is that wrong or is there another way I can be providing an environment to rvm1?

[2016-09-05 23:16] lpaulmp commented on #103
@chadoh Sorry for late response I'll take a look.

[2016-09-23 12:20] Baldrs commented on #60
user_install=no seem to have no effect on this behavior as well

[2016-09-29 15:50] EdDeAlmeidaJr commented on #60
I'll tke a look at this and post something here ASAP.

[2016-09-30 20:09] rjrobinson opened #106 "ansible not setting the default"
I thought this installed correctly but, apparently, no default ruby is being set.
I get no fails on install, and I have even started over with a  fresh VM.

[code]

the bigger issue, thinking that this worked, my production env is kinda stalled. Am I missing something?

[2016-10-03 14:25] viruzzo commented on #106
**rvm1_rubies** is a list, so you must define it as such: `rvm1_rubies: [ 'ruby-2.2.5' ]`.
I stumbled upon the same problem.

[2016-10-03 14:27] viruzzo commented on #56
**rvm1_rubies** is a list, so you must define it as such, in your case: `rvm1_rubies: [ '{{ ruby_version }}' ]`.

[2016-10-03 14:30] viruzzo commented on #73
Since it's already open: make sure you defines **rvm1_rubies** as a list, otherwise the role installs it correctly but the fails to symlink to the default version.
Example: `- { role: rvm_io.rvm1-ruby, rvm1_rubies: [ ruby-2.1.1 ], become: True }`.

[2016-10-03 18:16] rjrobinson commented on #106
@viruzzo , THANK YOU. That was totally the reason.

however, even with the auto dotfiles flag im till getting this error

[code]

[2016-10-04 16:12] rjrobinson commented on #75
Updated the readme. #108 Would you like to add anything else?

[2016-10-04 16:39] JustinAiken commented on #75
Looks good to me!

[2016-10-04 16:42] rjrobinson commented on #75
Cool. looks like it was merged!

[2016-10-04 16:44] JustinAiken commented on #75
Fixed by #108

[2016-10-04 16:44] #75 closed

[2016-10-04 16:47] pkuczynski commented on #75
I guess it should adapt automatically, especially `rvm install x.x.x` works fine without the `ruby` prefix. However we can keep it as it is for now - so only on the documentation level...

[2016-10-05 07:21] viruzzo commented on #106
I have a doubt wheter is it legal to specify `become: True` at that level; can you try specifying it at the role level, i.e.: `- { role: rvm_io.rvm1-ruby, ..., become: True }`?

[2016-10-10 04:50] kikihakiem commented on #26
@ignaciom I sets `rvm1_rubies` to `['ruby-2.3.1']` but somehow non-existent ruby-1.9.3-p551 chosen as default ruby.

[code]

Setting `rvm1_default_ruby_version` to correct version fixes the problem. Thanks!

[2016-10-31 14:50] pvlltvk commented on #103
@lpaulmp So, what about skipping bundler installation? I think that it will be useful feature.

[2016-10-31 17:27] pkuczynski commented on #103
Sure, why not. If its optional, it doesn't hurt. @chadoh can you come up with a PR?

[2016-10-31 18:32] chadoh commented on #103
I no longer need this personally and therefore don't feel very motivated to carve out time for it. I don't mind if this is closed.

[2016-11-01 07:22] pvlltvk commented on #103
@pkuczynski  I will do it

[2016-11-01 09:22] pkuczynski commented on #103
@chadoh fair enough. Thanks for the idea anyway! :)
@pvlltvk sure, I will keep it open for you...

[2016-11-03 12:56] pvlltvk commented on #103
@pkuczynski  I've just created PR https://github.com/rvm/rvm1-ansible/pull/110

[2016-11-06 23:07] lpaulmp commented on #106
By default rvm is installing as a root, I thinks this setup is no the most secure, because root should have just the tools/binaries that it uses no less and no more, that creates a secure environment, I see in so many cases where the user root is not accessible. I'll try to patch that soon.

[2016-11-07 01:30] lpaulmp opened #112 "Create a new release and publish in ansible."
Create a new release since there are some commits that are just in master and then publish those changes in ansible galaxy.

[2016-11-07 01:34] lpaulmp opened #113 "Make default rvm1_user as a non root user"
By default rvm is installing as a root, that setup is no the most secure, because root should have just the tools/binaries that he uses no less and no more, that creates a secure environment, I see in so many cases where the user root is not accessible.

Have someone any concern about this?

[2016-11-07 01:39] lpaulmp commented on #106
I opened the issue https://github.com/rvm/rvm1-ansible/issues/113 related with this thread , but in this case @rjrobinson missed `rvm1_user: foo`.

[2016-11-07 01:50] lpaulmp opened #114 "Travis-Ci is running in the when open a PR"
Travis-Ci is not automatically showing in the new open PRs, but in the travis-ci dashboard it shows correctly .

[2016-11-07 12:32] pkuczynski commented on #114
Fixed

[2016-11-07 12:32] #114 closed

[2016-11-07 12:33] pkuczynski commented on #113
Feel free to send PR to fix this issue. RVM should not require root access...

[2016-11-07 12:33] pkuczynski commented on #112
I will have a look at this shortly...

[2016-11-10 20:29] lpaulmp commented on #103
@pkuczynski thanks for the contribution I'm closing this issue.

[2016-11-10 20:29] #103 closed

[2016-11-11 07:28] pvlltvk commented on #113
@lpaulmp Do you mean single user installation?

[2016-11-11 18:36] lpaulmp commented on #113
@pkuczynski yes so instead of install by default system wide make an user installation.

[2016-11-11 20:54] pvlltvk commented on #113
@lpaulmp I think it's resonable, cause single user installation is recommended by documentation. But what user should be choosen by default? `ansible_ssh_user` ?

[2016-11-11 21:42] pvlltvk commented on #113
I've seen [#116](https://github.com/rvm/rvm1-ansible/pull/116). Does that means `ubuntu` user should be present at system or role will be failed?

[2016-11-11 23:09] lpaulmp commented on #113
@pkuczynski For ansible_ssh_user is a valid parameter for ansible up to 1.9. In the other hand with at least ansible in the latest versions the inventory parameters are not able to include in the defaults vars, getting this error `The error was: {{ ansible_user }}: 'ansible_user' is undefined"`.
I got the same error using `{{ remote_user }}`.

[2016-11-14 17:23] pkuczynski commented on #113
How about `ansible_user_id`?

[2016-11-15 12:03] allomov commented on #113
I've just met this issue. I was surprised that you need to use root user to manage rvm directory, it was the only way to run the playbook with Ansible 2 for me.

[2016-11-15 17:31] pkuczynski commented on #113
We actually do not need root user.

[2016-11-15 21:17] lpaulmp commented on #112
I'm having some issues to create a new release in ansible galaxy, seems some permission is missing. I requested permission to the owner of the rvm org to allow ansible galaxy access.

[2016-11-15 22:45] lpaulmp commented on #113
I tested with diferentes ansible vars in the defaults file and it does read from there.

[2016-11-16 11:06] pkuczynski commented on #112
This should be solved now.

[2016-11-18 16:12] thbar commented on #113
I'm a newcomer to `rvm1-ansible` (but not to RVM itself). I've been attracted here by the fact that it was mentioned as the "official" ansible package. Since the single-user is always [recommended](https://rvm.io/rvm/install#installation-explained) I tried to do that and it wasn't as easy as I'd thought, so I documented exactly what I had to do:

In my variables:

[code]

The autolib mode "read-fa

[2016-11-18 19:13] lpaulmp commented on #112
Thanks for your help @pkuczynski The last ansible version `v1.3.9` is online.

[2016-11-18 19:13] #112 closed

[2016-11-18 19:47] lpaulmp commented on #113
@thbar which version of the galaxy are you using?

FYI: I just opened a PR to update the readme https://github.com/rvm/rvm1-ansible/pull/119 to solve this kind of issues.

[2016-11-18 20:27] thbar commented on #113
@lpaulmp I struggled a bit to figure out which version it was, since it was installed without my `requirements.yml`, but ultimately saw that there is a `meta/.galaxy_install_info` with the information. It was version `v1.3.8`. I see that a new `v1.3.9` is out and will try again with this.

Re: #119, will add a note on "multi-single-users" installs.

[2016-11-22 15:11] lpaulmp commented on #113
@thbar Did you have problems to use the galaxy? Otherwise I'll close this issue.

[2016-11-23 13:49] meetme2meat commented on #69
@tjad can you please explain your approach. I'm getting the same error.

[2016-11-23 21:51] veger commented on #89
Last deprecation warning should be fixed with https://github.com/rvm/rvm1-ansible/pull/124

[2016-11-30 14:38] lpaulmp commented on #113
I'm closing this issue since was already addressed.

[2016-11-30 14:38] #113 closed

[2016-11-30 14:40] lpaulmp commented on #106
I'm closing this one since it was addressed.

[2016-11-30 14:40] #106 closed

[2016-11-30 14:43] lpaulmp commented on #34
Some feedback was required, I'm closing this issue but please re-open if it is necessary.

[2016-11-30 14:43] #34 closed

[2016-11-30 22:59] lpaulmp commented on #47
Looks this in an issue of playbook. I close this issue but feel free to re-open

[2016-11-30 22:59] #47 closed

[2016-11-30 23:00] #89 closed

[2016-11-30 23:10] lpaulmp commented on #102
this was fixed in the last releases. https://github.com/rvm/rvm1-ansible/blob/master/tasks/main.yml#L8-L11

[2016-11-30 23:10] #102 closed

[2016-11-30 23:11] lpaulmp commented on #101
The readme was updated, I closing this issue but feel free to re-open.

[2016-11-30 23:11] #101 closed

[2016-11-30 23:15] lpaulmp commented on #65
This issue was addressed making the user installation as default in the last releases.

[2016-11-30 23:15] #65 closed

[2016-11-30 23:16] thbar opened #126 "Permission issue after installation"
I'm facing a puzzling situation where in Vagrant, the RVM setup goes just
 fine, while on a production server with the same distribution/release, I get the following permission error (I'm using rvm1-ansible v2.2.0, but also tested with v1.3.9 in single user mode):

[code]

I've temporarily lost access to the server I was deploying to (unrelated), but seem to remember that the files under `~/.rvm/s

[2016-11-30 23:20] thbar commented on #126
Got access back to the server, and I can confirm that files under `/home/myuser/.rvm/scripts` do not have the execute bit set (unlike in Vagrant, or even on my local Mac).

I have no idea what is happening at this stage.

[2016-11-30 23:44] thbar commented on #126
After more tests and an attempt to install manually using `\curl -sSL https://get.rvm.io | bash -s stable`, I see the same problem. This probably means my issue is not related to rvm1-ansible.

I'll investigate more and will come back (probably to close here).

[2016-12-01 00:18] thbar commented on #126
Moving there https://github.com/rvm/rvm/issues/3832. Closing.

[2016-12-01 00:18] #126 closed

[2016-12-02 19:51] jogaco commented on #19
Fed up with manual installation, I gave this a go but got stuck with the same problem.
Ubuntu 16.10.
Task just freezes for hours.
The docs do not seem to provide an instantly working setup, or there's something I missed.

Trying this still no luck:

`ansible-playbook -i hosts.ini ruby_script.yml --user myuser --ask-sudo-pass -v`
[code]
And this is the last part of the output I am getting:
[code]
F

[2016-12-04 17:27] jogaco opened #127 "Unable to install for single user on a fresh machine: freezes asking for sudo password"
I'm quite familiar with rvm.

I've tried several options, as documented in README, to install rvm and ruby on a fresh Ubuntu 16.04 machine for single user, without luck.

The machine has a myuser sudoer, with disabled root login for security reasons.

The task freezes when installing rubies.

First try:

[code]
With command
`ansible-playbook -i hosts.ini ruby_script1.yml --user myuser --ask-sudo-p

[2016-12-06 12:57] jogaco opened #128 "Bundler not installed"
Seems to have been addressed before in #41 or #42  but the PR is not on master and certainly is not present after `ansible-galaxy install rvm_io.ruby`

[2016-12-06 13:00] jogaco commented on #127
Seems to be related to #113 but in no way has it been addressed, as I am hitting the same problem

[2016-12-06 13:33] jogaco commented on #127
This does the trick and avoids rvm asking for the password, which is the cause the task freezes.
Notice the `  become_user: root` for installing rvm requirements

[code]

[2016-12-06 13:35] jogaco commented on #113
@thbar it should not be necessary to specify the dependencies manually as rvm should handle that.
Check #127 for a cleaner solution IMO

[2016-12-06 14:09] Toshakins commented on #73
Experienced the same issue, @viruzzo answer helped me. Many thanks, sir 🎩

[2016-12-16 11:34] zarr12steven opened #129 "Gem install package failed, and Symlink is not work"
##### ENVIORNMENT

remote server: CentOS Linux release 7.2.1511 (Core)

##### PURPOSE

After install rvm, and I want to use gem install compass

##### Ansible  Config

I always use run root, my playbook is below there

[code]

I add new file  in `rvm_io.ruby/tasks/gem.yml`

[code]

and i add this file to `rvm_io.ruby/tasks/main.yml`

[code]

**First error:**

[code]

so I fixed `rvm_io.ruby/tasks/

[2016-12-20 00:05] lpaulmp commented on #129
@zarr12steven are you trying install as system wide?

[2016-12-20 00:09] lpaulmp commented on #129
@zarr12steven  Did you tried adding the installation path `rvm1_install_path`?

[2016-12-20 22:04] matthewlein commented on #127
I had this issue as well, and @jogaco's PR didn't work for me, unless I missed something (I just copied over the 1 changed file).

I went with the manually dependency list approach from https://github.com/rvm/rvm1-ansible/issues/113 and that did work. Not super elegant, but working for now.

[2016-12-24 21:34] rombr opened #130 "Can not install 1.9.3 on Debian"
Hello,
my playbook contains
[code]
I get an error:
[code]

What is wrong?

Thanks!

[2016-12-26 16:26] rombr commented on #130
I found problem. There was not curl package in the system.

But after I installed curl.

[code]
this oparation "works" already more then 24 h.

What can it be?

[2016-12-26 18:39] pkuczynski commented on #130
Press enter. This is known problem that installation waits for user acceptance.

[2016-12-27 03:35] zarr12steven commented on #129
@lpaulmp  I use  default `rvm1_install_path` in  `rvm_io.ruby/defaults/main.yml`

[code]

but when I added  `rvm1_symlink_to: '/bin'` into my playbook file `/etc/asnible/playbooks/centos.yml`, then `TASK [rvm_io.ruby : Symlink ruby related binaries on the system path]` is working,below is my playbook

[code]

[2016-12-27 04:18] chusiang commented on #19
I have some error of `Ruby ruby-2.3.3 is not installed`, but it's working with root on Ubuntu 14.04.

[code]

[2016-12-27 08:53] jogaco commented on #19
I don't think installing with root is a good idea. Check out #127

[2016-12-28 16:02] davemckenna01 opened #131 "the role 'rvm_io.ruby' was not found in [list of paths]"
I'm experiencing some strange behaviour when trying to install rvm. Ansible complains that the role 'rvm_io.ruby' was not found in /Users/davemckenna/Development/hdenv_test_1/vagrant/provisioning/roles:/usr/local/etc/ansible/roles:/Users/davemckenna/Development/hdenv_test_1/vagrant/provisioning

But in ansible.cfg I've explicitly set a roles_path = galaxy.roles, which would be at /Users/davemckenn

[2016-12-28 17:18] davemckenna01 opened #132 "bundle install - bundle not found"
I have successfully installed rvm, but I'm unable to "bundle install" from within my ruby project. The bundle bin is not found.

[code]
results in:

`"[Errno 2] No such file or directory"`

[code]
results in:

`"/bin/sh: 1: bundle: not found"`

But when I shell in to my vagrant box, bundle works fine, I can bundle install:

[code]

The Ansible bundle module also doesn't work. I have to explicitly

[2016-12-28 18:03] jrgifford commented on #132
(I edited this issue a little to show everything as code blocks instead of misinterpreted markdown)

[2016-12-29 10:22] rombr commented on #130
@pkuczynski  Thanks for advise but it did not help me

[2016-12-29 10:48] rombr commented on #130
When I try to do manual install I get:
[code]
How can I ecsape it using role options?

[2016-12-29 11:46] rombr commented on #130
Root install helped me.
Thanks!

[2016-12-29 11:46] #130 closed

[2017-01-06 23:32] lpaulmp commented on #127
@jogaco
[code]

Also which version did you used?

[2017-01-06 23:36] lpaulmp commented on #128
@jogaco In the past I didn't able to reproduce which version of ansible are you using to run this role?

[2017-01-06 23:40] lpaulmp commented on #131
I'm not able to reproduce the issue, please make sure that you are downloading the correct version.
[rvm_io.ruby](https://galaxy.ansible.com/rvm_io/ruby/)

[2017-01-06 23:42] lpaulmp commented on #132
This is duplicate issue https://github.com/rvm/rvm1-ansible/issues/128

[2017-01-06 23:43] #132 closed

[2017-01-07 11:17] jogaco commented on #128
2.2.0

[2017-01-07 11:18] jogaco commented on #127
Ansible 2.2.0

[2017-01-10 12:20] zozo6015 commented on #131
I have the same issues running it on ubuntu I have role_path configured to /etc/ansible/roles
installed the role with ansible galaxy and when I run the playbook I get the following error:

[workspace] $ /usr/bin/ansible-playbook ansible/deploy-linkchecker.yml -i hosts -l test2 -f 5 -e deploy_linkchecker=true
[0;31mERROR! the role 'rvm_io.ruby' was not found in /var/lib/jenkins/jobs/DeployTenon/wo

[2017-01-13 21:52] fields opened #133 "throwing an error with recent versions of ansible"
I'm getting this error when trying to use ansible 2.2.0 or later:

TASK [rvm_io.rvm1-ruby : Install rubies] ***************************************
fatal: [172.20.38.156]: FAILED! => {"failed": true, "msg": "The conditional check 'rvm1_rubies and item.rc != 0' failed. The error was: error while evaluating conditional (rvm1_rubies and item.rc != 0): 'unicode object' has no attribute 'rc'\n\nThe err

[2017-01-16 20:13] lpaulmp commented on #133
@fields Looks you are not using a correct galaxy, can you try with this one https://github.com/rvm/rvm1-ansible#installation.

[2017-01-18 06:59] Evgeniy28 opened #134 "Problem install rubies"
My platform: fresh install of Ubuntu 14.04 on a VirtualBox VM using Vagrant on an OS X host.

RVM install without problem.
[code]
My playbook:
[code]
I'm waiting for a few hours, but nothing happens:
[code]
What could be the reason?

[2017-01-18 22:15] fields commented on #133
Thanks - I must have missed a notification that this changed and still had the old version installed.

[2017-01-18 22:15] #133 closed

[2017-01-19 16:52] Evgeniy28 commented on #134
I'm decided my problem:
[code]

[2017-01-19 16:52] #134 closed

[2017-01-23 21:30] fields opened #135 "rvm.sh no longer installed?"
I'm migrating from using the rvm_io.rvm1-ruby galaxy role to using rvm_io.ruby, on centos. Previously, this role installed /etc/profile.d/rvm.sh so that rvm was started at login, but it seems that for a fresh machine where I've only used the rvm_io.ruby role, this file does not exist. Was this removed, and is there an alternate mechanism that should be used?

Thanks!

[2017-01-25 19:59] yithian opened #136 "import gpg tasks fail in check mode"
When running a playbook that uses the rvm_io.ruby role in check mode (`ansible-playbook ... -C`), the tasks to import GPG keys via the command and shell modules both fail. The failure from the shell module gpg key task (Import GPG keys the other way) causes the entire run to exit.

It appears to be due to the fact that the command task doesn't actually execute during check mode, which means that i

[2017-01-29 18:19] ypid opened #138 "Enforce OpenPGP fingerprint also in fallback mode"
https://github.com/rvm/rvm1-ansible/blob/308eda86c9d553919f2a3eeba76318214da59257/tasks/rvm.yml#L34-L36

Ref: https://github.com/jchaney/owncloud/pull/12

[2017-01-29 18:19] ypid opened #139 "Check OpenPGP before executing a downloaded script"
https://github.com/rvm/rvm1-ansible/blob/308eda86c9d553919f2a3eeba76318214da59257/tasks/rvm.yml#L38-L42

[2017-02-02 23:14] #136 closed

[2017-02-09 22:16] marekciupak commented on #46
Following `PATH` and `GEM_PATH` lines were enough to fix the problem for me:

[code]

[2017-02-10 13:12] jogaco commented on #127
@matthewlein Just re-tested on a fresh Ubuntu machine and it works.

[code]
With command:
`ansible-playbook -i hosts.ini ruby_script2.yml --user myuser --ask-sudo-pass -v`

Check my PR

[2017-02-10 13:43] #127 closed

[2017-02-13 12:45] jogaco commented on #127
Hold on. It works fine with rvm 1.28.0. It freezes with rvm 1.29.0  and master.
I am trying to open an issue with rvm but the Submit button is not enabled, after I fill in a very long list of required details.

[2017-02-14 17:22] matthewlein commented on #127
@jogaco Thanks for the tip, 1.28.0 worked with my manual dependencies approach while the latest stable did not either.

[2017-02-14 18:51] pkuczynski commented on #127
@mpapis could it be that your latest change for pclinuxos broke it?

[2017-02-14 18:56] mpapis commented on #127
should not be related to pclinxos change, how about trying to disable autolibs if it's not desired functionality? `rvm autolibs disabled` or `rvm --autolibs=0 install ruby`?

[2017-02-15 09:21] jogaco commented on #127
This is the issue I tried to submit without luck to https://github.com/rvm/rvm repository. Was not able as the submit button was not enabled.

## Description

Impossible to automate installation of rubies with ansible: `password required for 'apt-get --quiet --yes update': ..-` even if running rvm requirements before ruby installation.

## Steps to reproduce

OS: Ubuntu Description:	Ubuntu 14.04.5

[2017-02-15 09:59] mpapis commented on #127
@jogaco this is what `--auotlibs=0` does, have you tried adding it to `rvm1_ruby_install_flags`?

[2017-02-15 10:39] jogaco commented on #127
Thanks @mpapis for the tip. It works fine. Example of working script:

[code]

[2017-02-15 14:18] dgm opened #142 "permission denied installing rvm"
The "Install rvm installer"  section runs if the file exists but never checks if the file is executable.  Somehow I had rvm-installer.sh  at the required location but was chmod 644.    Removing the file and letting the playbook download it fixed my problem, but maybe those permissions should be part of the detection?

[2017-03-07 09:36] kalashnikovisme opened #145 "failed download from bitbucket.org"
Running role. Have such error.

[code]

[2017-03-22 01:50] ilyapoz opened #146 "Support --check mode"
ansible-playbook --check fails consisntently with the following error:

[code]

[2017-03-22 03:37] ilyapoz commented on #146
oh, it was already fixed in #137
It's just the matter of releasing then

[2017-03-22 03:37] #146 closed

[2017-03-23 06:58] jesperrasmussen commented on #145
I got the exact same thing - it seems to me that either the ansible role doesn't pass branch correctly to rvm-installer - or rvm-installer skips it somehow. If you look at the URL `https://github.com/rvm/rvm/archive/.tar.gz`, I'd expect that to contain `master.tar.gz` per default :)

[2017-03-23 07:22] jesperrasmussen commented on #145
I figured out my issue, even though it was kinda obscured by the "curl returns 200" error. It turns out I had disabled my base roles, meaning I hadn't ensured curl being present on the system, before attempting to install rvm. The way rvm-installer acts in that case, is actually by giving the "returns 200" error which, to me at least, is a bit confusing. Anyway, @kalashnikovisme - maybe you're hav

[2017-03-26 00:28] lpaulmp commented on #145
@jesperrasmussen Thanks for your input.

[2017-03-26 00:29] lpaulmp commented on #145
I will try to reproduce this issue on my local

[2017-03-29 12:12] harrykiselev commented on #145
Probably you execute playbook on Ubuntu server.
By default Ubuntu doesn't has `curl` for ruby source download.

First you need `sudo apt-get install curl` and to re-execute your playbook :)

[2017-03-29 14:10] fcevado opened #147 "Unprivileged user falls back to ubuntu"
Unprivileged user falls back to ubuntu instead of ssh user.

[2017-04-18 15:35] geerlingguy opened #148 "Ansible Galaxy imports failing?"
When I view the role on Galaxy (https://galaxy.ansible.com/rvm_io/ruby/), I notice that the most recent imports have been failing:

<img width="732" alt="screen shot 2017-04-18 at 10 33 55 am" src="https://cloud.githubusercontent.com/assets/481677/25139342/95ed12a4-2422-11e7-8b17-1cd1ff323d4a.png">

Version 2.0.0 is at least in Galaxy, so that's not a huge deal, but I thought I'd point it out in c

[2017-04-18 15:36] geerlingguy commented on #148
I wonder if it might be a formatting issue in `main.yml`: the 'company' might need to be set to an empty string if that's causing a yaml parsing error (https://github.com/rvm/rvm1-ansible/blob/master/meta/main.yml#L5).

[2017-04-18 15:36] geerlingguy commented on #148
Actually, it looks like it might be `galaxy_tags` not being set. PR incoming...

[2017-04-18 15:49] lpaulmp commented on #148
@geerlingguy Thanks

[2017-05-08 16:20] #148 closed

[2017-05-11 13:39] geerlingguy opened #150 "Role GPG key tasks fail when run in --check mode"
When I run a playbook with `--check` mode (to verify my server's configuration without making any changes), the playbook run fails on the following tasks:

[code]

I'm testing a quick fix for this and will file a PR if it works.

[2017-05-11 13:42] geerlingguy commented on #150
PR: https://github.com/rvm/rvm1-ansible/pull/151

[2017-05-26 23:40] jamesla opened #152 "Can I move role settings into a config file?"
In the following example:

`- { role: rvm_io.ruby,
        rvm1_rubies: ['ruby-2.2.5','ruby-2.3.1'],
        rvm1_install_flags: '--auto-dotfiles',     # Remove --user-install from defaults
        rvm1_install_path: /usr/local/rvm,         # Set to system location
        rvm1_user: root                            # Need root account to access system location
      }`

How would I move the settin

[2017-05-28 04:34] jamesla opened #153 "What is the correct way to install gems using this role?"
I have installed this role as a system install which works properly and installs and paths ruby, rake and bundle correctly.
[code]
However when I install a gem, the gem installs however is not added to my path. As the gems are installed into their respective ruby versions directory setting a single path is not really possible.

I was wondering what the correct way to consume system gems is with th

[2017-06-19 01:59] #152 closed

[2017-06-19 01:59] #153 closed

[2017-07-12 22:36] tadman opened #154 "When installing JRuby, symlinking fails on erb"
It looks like JRuby 9.1 no longer bundles the `erb` binary which causes a failure during the symlink stage if you're not using the `--user-install` option in `rvm1_install_flags`:

[code]

To fix this you will need to update the `rvm1_symlink_binaries` variable and remove `erb`, but it's probably worth making the symlink rule "Symlink bundler binaries on the system path" more robust by testing for

[2017-08-04 09:14] coofercat commented on #60
The Ansible 'gem' task is the issue here (although I haven't tested with RVM to verify, I've bumped into the same issue elsewhere). It's actually in the [docs](http://docs.ansible.com/ansible/latest/gem_module.html), but by default the 'gem' task does a 'user-install', so it'll end up in whatever user the task is running as (in your case, that's root).

Change your gem task to this:

[code]

[2017-08-04 09:25] coofercat opened #155 "Files in /tmp Cannot be Executed in Centos 7"
By default, on Centos 7, files in `/tmp` cannot be executed (even if chmod 777) because the filesystem mount prevents it. The result is that all attempts to install RVM fail:
[code]

The solution is thankfully pretty simple - instead of running `/tmp/something`, just run `/bin/bash /tmp/something`. Therefore, in tasks/rvm.yml, the task to install RVM becomes:
[code]
Incidentally, using `shell` ins

[2017-08-05 06:11] karlwbrown commented on #127
Note: There is also a task here: https://github.com/rvm/rvm1-ansible/blob/master/tasks/rvm.yml that is supposed to set the autolibs; however, this doesn't work on any machine that already has a version of RVM installed. This autolibs variable should either be removed, or the 'when' clause removed as it shouldn't limit when you can set the autolibs variable...

[2017-08-30 15:53] geerlingguy opened #156 "Error while evaluating conditional (rvm1_delete_ruby): 'ruby' is undefined"
When I try to delete an older version of ruby using `rvm1_delete_ruby`, I get the following error:

[code]

Tried this on two servers where I had `rvm1_rubies: ['ruby-2.3.3']` originally, then set `rvm1_rubies: ['ruby-2.3.4']`, and added the variable `rvm1_delete_ruby: ruby-2.3.1` and ran the playbook again.

[2017-08-30 15:58] geerlingguy commented on #156
For now, on the servers where this was happening, I manually ran `sudo /usr/local/rvm/bin/rvm remove ruby-2.3.1` to get the old version removed. Couldn't figure out why the error was happening though :-/

[2017-09-11 16:24] geerlingguy opened #157 "Getting 'src file does not exist' for testrb for Symlink ruby binaries task"
It was running fine inside Travis CI for the past few weeks, but suddenly today my builds are failing on this task:

[code]

I'm going to try to see if there were any changes that could've affected rvm_io.ruby installation on my end, but I can't recall anything, so posting this issue in case other people are running into the same issue.

[2017-09-11 16:31] geerlingguy commented on #157
Confirmed with a fresh local build too—I have in my playbook configuration:

[code]

[2017-09-11 16:32] geerlingguy commented on #157
My last successful build was using the same ruby version, 5 days ago, and in the logs it seems that testrb _did_ exist then:

[code]

So maybe the rvm.io package itself got messed up at some point?

[2017-09-11 16:39] geerlingguy commented on #157
As a workaround, I was going to use:

[code]

...but since that variable is defined in `vars/main.yml` it's not easily overridden (unless you try passing in the entire array via `--extra-vars` on the command line, which is really messy :/

[2017-09-11 16:43] geerlingguy commented on #157
Checking:

  - https://rvm_io.global.ssl.fastly.net/binaries/ubuntu/16.04/x86_64/ruby-2.3.3.tar.bz2
  - https://rvm_io.global.ssl.fastly.net/binaries/ubuntu/16.04/x86_64/ruby-2.3.4.tar.bz2
  - https://rvm_io.global.ssl.fastly.net/binaries/ubuntu/16.04/x86_64/ruby-2.4.1.tar.bz2

... none of these had `testrb` in their bin directories :(

[2017-09-11 16:45] geerlingguy commented on #157
So, it looks like upstream, the `testrb` file is not built/included anymore after this commit https://github.com/rvm/gem-wrappers/commit/8a355fd0925d34f7e1b7cd9b299eaf07d62bd92a — see also https://github.com/rvm/rvm/issues/4104

[2017-09-11 16:48] geerlingguy commented on #157
PR at least fixes the problem. It might also be nice to have the variable itself moved into `defaults/main.yml` so it can be overridden in the future.

[2017-09-11 17:53] lpaulmp commented on #157
@geerlingguy thanks for your contribution, this sounds reasonable - allow overwrite `rvm1_symlink_binaries`.
I'm improving a bit the test for different distros since are reported bugs which the current tests aren't able catch.

[2017-09-11 23:01] #150 closed

[2017-09-12 01:52] #157 closed

[2017-09-13 20:39] vikas027 opened #159 "Role fails with latest version of rvm (i.e. 1.29.3)"
### Environment
OS: CentOS 7 x86_64
Platform: AWS

### Problem
rvm [v1.29.3](https://github.com/rvm/rvm/releases) released a few days ago spits out below error while using the role
[code]

### Workaround
Pin rvm version **1.29.2** (default is **stable**) in the role, something like this
[code]

[2017-09-13 22:48] lpaulmp commented on #159
@vikas027 this issue was address a couple of days ago? Could you try using the last version of the role `v2.0.1` ?

[2017-09-14 06:43] vikas027 commented on #159
I just did an `ansible-galaxy install rvm_io.ruby`. I was assuming it would take the latest version automatically. No?

[2017-09-17 22:51] lpaulmp commented on #159
@vikas027 this should take the last one. Did the version `2.0.1` resolved your issue?

[2017-09-18 00:16] vikas027 commented on #159
@lpaulmp Yeah, it worked now. I have pinned the version now in the command ```ansible-galaxy install rvm_io.ruby,v2.0.1```

Thanks, for your help. I am closing the ticket.

[2017-09-18 00:16] #159 closed

[2017-09-29 12:08] haslinger commented on #129
@zarr12steven Did you ever resolve this?

[2017-10-13 17:22] tadman commented on #154
It looks like `testrb` is also toast in Ruby 2.4.x so that should be removed as well.

[2017-11-05 18:50] stephanfriedrich commented on #66
i also got this issue, today

[2017-11-05 20:19] stephanfriedrich commented on #66
ok i see, there is an option to disable [Automatic dependencies installation](https://rvm.io/rvm/basics#automatic-dependencies-installation).

take a look at rvm1-ansible README:
[code]

[2017-11-16 07:55] #66 closed

[2017-12-04 18:04] saimonsharif commented on #135
Hi @fields, were you able to find a solution to this? I'm running into this now where `/etc/profile.d/rvm.sh` is only installed after running the galaxy role again.

[2018-01-11 02:26] isikyus commented on #155
This also affects Ubuntu 16.04.3.

[2018-01-15 16:18] bolshakov opened #163 "Latest value from rvm1_rubies even if rvm1_default_ruby_version is set"
Inventory file:

[code]
My playbook looks like this:

[code]

In `my_role` I use `rvm1_default_ruby_version` value to configure apache. I expect it is `ruby-2.1.1`, but actually it is to `ruby-2.3.5`.

I factored tests app to reproduce the issue and printed `rvm1_default_ruby_version` before, inside and after my role. It prints `ruby-2.1.1`, `ruby-2.3.5` and `ruby-2.1.1`. I expect it is `ruby-2.1.

[2018-01-22 13:05] lpaulmp commented on #163
@bolshakov thanks for open this issue, I'll investigate it

[2018-02-07 12:09] stephanfriedrich opened #164 "ansible installation fails with default ~/.rvm"
Hi, i try to install rvm via ansible, but the role cant update rvm because the role rvm-path is incorrect.
Imho, is my config correct. if i change the isntall-path to `/usr/local/rvm` installation finish successfully.

Ansible Error Log:
[code]

role-config:
[code]

[2018-02-07 12:51] stephanfriedrich commented on #164
ok, i figured out why the issue occurs.

at first i had to update my rvm-role config with (like descriped in the readem):

[code]

*the issue*
* its not an rvm-role issue, i think the issue occurs because the shell dont know the rvm path.
as is run "rvm autolib 3", i got the same issue, after reload my shell, the command runs without errors.

*BUT* , i dont know why the ansible-rvm-role dont know

[2018-03-07 19:30] buildadmin opened #166 "Automatic Install ree"
Installing Ruby EE on RVM:

https://rvm.io/interpreters/ree

I tried installing ree 18.7 with:

[code]

but got this error:

`changed: [rs] => (item={'_ansible_parsed': True, 'stderr_lines': [u'Unknown ruby interpreter version (do not know how to handle): ree_1.8.7.', u'Unknown ruby interpreter version (do not know how to handle): ree_1.8.7.', u'Ruby ree_1.8.7 is not installed.'], '_ansible_item_r

[2018-03-07 20:54] buildadmin commented on #166
I ended up using:

```rvm1_rubies: ['ree']```

I had to modify the original role here:

rubies.yml
[code]

[2018-03-28 09:58] thbar commented on #163
I have the same problem: any override of `rvm1_default_ruby_version` I make is replaced. I'm using Ansible 2.4.3.

I wonder if maybe the variables defined by the role are late-evaluated & always winning.

[2018-03-31 16:46] thbar commented on #166
@buildadmin `ree_1.8.7` will not work, but `ree-1.8.7` will. That said this is an unsupported version afaik, which should not be deployed nowadays - you are exposed to numerous security issues!

[2018-05-23 21:48] lucascj commented on #132
I seem to have this same issue. Root install of rvm when I try to run a gemfile using bundler module it generates the same error. Ansible 2.5.3 and latest rvm_io.ruby.

error: "/usr/bin/env: ruby_executable_hooks: No such file or directory"

[2018-06-22 07:47] WahyuMW commented on #132
i have sam issue,

[2018-06-26 22:51] bbtdev opened #167 "gpg not found on macos vm"
Hello,
I'm running the role from macos to 2 VMs, one ubuntu, the other macos. The ubuntu succedes,the macos fails. If I try gpg directly on the vm it works though, so I don't really understand where is the problem.

fatal: [192.168.33.11]: FAILED! => {"attempts": 5, "changed": false, "cmd": "gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3", "msg": "[Errno

[2018-06-27 14:10] jgomo3 opened #168 "Install rubies task freeze waiting for user password to be suplied when no binary rubies found"
My playbook freeze when the *rvm1-ansible* role tries to execute the task *Install rubies*.

Debugging it by printing the result of the expression `'{{ rvm1_rvm }} install {{ item.item }} {{ rvm1_ruby_install_flags }}'`, I get the command `~/.rvm/bin/rvm install ruby-2.1.3`.

When running that command in the to be provisioned server, after some steps it stops askin me for the user password:

*Upda

[2018-06-27 15:00] lpaulmp commented on #168
@jgomo3 are you installing RVM as privileged or non privileged user?
In case use use a unprivileged user you should pass add the flag `--user-install` like in the example in the README.
In case you use root user to install, the binaries will be install as system-wide.

[2018-06-27 15:58] lpaulmp commented on #167
This roles just support Linux base distros.

[2018-06-27 16:01] bbtdev commented on #167
No plans for macos?

[2018-06-27 18:42] jgomo3 commented on #168
It should be a non privileged user.

This is the role configuration:

[code]

[2018-07-03 20:17] jgomo3 commented on #168
So I had to add `--autolibs=0` to the `rvm1_ruby_install_flags` configuration value (even when I setted the `rvm1_autolib_mode` configuration value to `0`) in order to avoid that pause.

Here is my final role configuration which is working now:

[code]

[2018-07-03 20:18] jgomo3 commented on #168
So I had to add `--autolibs=0` to the `rvm1_ruby_install_flags` configuration value (even when I setted the `rvm1_autolib_mode` configuration value to `0`) in order to avoid that pause.

Here is my final role configuration which is working now:

[code]

[2018-07-03 20:18] #168 closed

[2018-07-03 21:11] lpaulmp commented on #168
@jgomo3  ok thanks for post the solution to your issue

[2018-07-05 16:03] derekgottlieb opened #169 "Deprecation warning for use of 'include' in ansible 2.4 and later"
When using this role on ansible 2.4 or later, you'll get the following deprecation warning:

[code]

[2018-07-07 19:37] #169 closed

[2018-07-09 17:42] lpaulmp opened #173 "Use created docker images instead of build the images in Travis"

[2018-07-17 12:39] georf commented on #58
Do you have an idea to do that?

[2018-07-22 04:35] #167 closed

[2018-08-06 15:24] geerlingguy opened #176 "Role install instructions on Galaxy incorrect"
I have traditionally used `ansible-galaxy install rvm_io.ruby` to install this role... and that still works. But if you go to the Galaxy role page for this role (https://galaxy.ansible.com/rvm/ruby), it shows:

    ansible-galaxy install rvm.ruby

...which does _not_ work. You have to still use rvm_io for the namespace. This may be an upstream issue with Galaxy.

[2018-09-02 10:07] ctorgalson commented on #176
Looks like this may have been corrected at Galaxy:

![ansible_galaxy](https://user-images.githubusercontent.com/1063424/44954794-a7567500-aea8-11e8-8f74-0c4c810f1002.png)

[2018-09-05 14:57] coldnebo opened #177 "readme specifies root for multiuser installs which rvm docs warn against."
rvm1-ansible [roles section](https://github.com/rvm/rvm1-ansible#role-variables):

[code]
[rvm docs](https://rvm.io/support/troubleshooting#sudo):

There seem to be ways to make this work, but the docs between projects are inconsistent.

[2018-09-11 13:47] Scaramush commented on #156
I was able to fix it by changing when statement in "Detect if ruby version can be deleted" and "Delete ruby version" from `when: rvm1_delete_ruby` to `when: rvm1_delete_ruby is defined` in "Detect if ruby version can be deleted"
and from `when: rvm1_delete_ruby and detect_delete_ruby.rc == 0` to `when: (rvm1_delete_ruby is defined) and (detect_delete_ruby.rc == 0)` in "Delete ruby version"

[2018-09-24 12:19] mmolinac opened #178 "Installation of Ruby 2.5.0 is not possible with rvm"
Since some months ago, it's not possible for us to install Ruby 2.5.0 with this role.
As it turned out, it seems that RVM has changed.
I opened a ticket to them, https://github.com/rvm/rvm/issues/4443 , but it seems that the proposed solution for this version is to install other version by package.
As your role is affected because it doesn't work with this version, I ask you to change this role.

[2018-10-03 16:13] geerlingguy commented on #176
It looks like it was just changed and is now back to:

    ansible-galaxy install rvm.ruby

Closing this issue.

[2018-10-03 16:13] #176 closed

[2018-10-03 18:13] bazimov opened #179 "Name changed from rvm_io.ruby to rvm.ruby"
Looks like name has been changed very recently. You might need to update examples and add some informational message in galaxy ansible about this name change. At first it is very hard to know where did rvm_io repo/role and related gone. It is just gone.

[2018-10-04 15:04] d3netxer commented on #179
yes please, this affected my workflow

[2018-10-05 15:28] #179 closed

[2018-10-08 12:12] manubo commented on #131
Might be related to this issue:
https://github.com/rvm/rvm1-ansible/issues/179

[2018-11-06 20:32] e-moshaya opened #181 "Support for Amazon Linux 2"
I get the following error on Amazon Linux 2

`       TASK [rvm.ruby : Install rubies] ***********************************************
       failed: [localhost] (item={'_ansible_parsed': True, 'stderr_lines': [u'Ruby ruby-2.3.1 is not installed.'], u'changed': False, u'stdout': u'', '_ansible_item_result': True, u'msg': u'non-zero return code', u'delta': u'0:00:00.303323', 'stdout_lines': [], 'fai

[2018-11-21 20:49] derekgottlieb opened #183 "Current master failing on Debian in Travis (gpg /dev/tty error)"
I recently tried to deploy to a Debian 9 system and ran into issues when trying to add gpg keys (gpg: cannot open '/dev/tty': No such device or address). Here's a sample build:

https://travis-ci.org/derekgottlieb/rvm1-ansible/builds/456776774

[2018-11-24 13:10] derekgottlieb commented on #183
Looks like this is actually a Debian issue. In reading through the discussion, it looks like a fix should be out "soon" (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=913614#45). Going to go ahead and close this out along with the associated PR.

[2018-11-24 13:10] #183 closed

[2018-11-29 06:03] tsz662 commented on #181
If you have no problem with ruby 2.4, you can install ruby2.4.4 like so:
`$ sudo amazon-linux-extras install ruby2.4 -y`

For reference,
[code]

[2018-12-12 14:26] rnitschelm opened #184 "Missing GPG-key"
It seems there is a gpg-key missing at the moment, causing verification to fail.

https://github.com/rvm/rvm1-ansible/blob/1234af8d77f2bd755168f6b38ac5ff7ccf88f171/defaults/main.yml#L41

Actual key: `409B6B1796C275462A1703113804BB82D39DC0E3'`
Expected keys:  `409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB`

Please also see this (closed) issue on rvm for further i

[2018-12-12 15:21] pkuczynski commented on #184
Hey @lpaulmp can u have a look?

[2018-12-12 21:21] TheCorp commented on #184
Definitely would like a fix here! thanks 👍

[2018-12-13 16:53] pkuczynski commented on #184
PR merged. @lpaulmp do we need to release this or merge is enough?

[2018-12-13 16:53] #184 closed

[2018-12-13 17:12] TheCorp commented on #184
A release would be nice if its not a lot of effort.

[2018-12-13 22:43] zz9pzza opened #186 "Issue with debian 9"
I suspect you already know however:

`       TASK [core/rvm1-ansible : Install rvm] *****************************************
       fatal: [localhost]: FAILED! => {"changed": true, "cmd": ["/tmp/rvm-installer.sh", "stable", "--path", "~/.rvm", "--auto-dotfiles", "--user-install"], "delta": "0:00:01.081853", "end": "2018-12-13 22:37:53.063103", "msg": "non-zero return code", "rc": 2, "start": "201

[2018-12-13 22:44] zz9pzza commented on #186
https://travis-ci.org/rvm/rvm1-ansible/jobs/467604338 is a build issue on travis.

[2018-12-14 10:23] mmolinac opened #187 "Error importing keys, related to `gpg` commands"
Hi all,

Lately, when running rvm.ruby in one of our playbooks, we got these messages:

[code]

The message: `"gpg: cannot open '/dev/tty': No such device or address"`

I'll give you details about our installation:

Ansible version:
[code]

Server versions:
[code]

[2018-12-14 12:08] xacaxulu commented on #187
+1

[2018-12-14 19:57] zz9pzza commented on #186
#183 doesn't fix this.

gpg --version
gpg (GnuPG) 1.4.18

cat /etc/debian_version
9.6

[2018-12-14 20:23] geerlingguy commented on #186
Does https://github.com/rvm/rvm1-ansible/pull/188 fix it? I found that through https://github.com/rvm/rvm1-ansible/issues/187

I just applied that patch and still ran into the issue. So after a failed build, I logged into the server and ran:

    sudo su
    gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB

See recen

[2018-12-14 21:55] #186 closed

[2018-12-14 21:56] pkuczynski commented on #186
@lpaulmp when can we release new version?

[2018-12-14 22:38] zz9pzza commented on #186
I am just running tests with head. And I am still getting the issue when I do:

sudo su
gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB

I am have imported the keys as the user which installs rvm and see if that helps.

[2018-12-14 22:43] zz9pzza commented on #186
Doing ` gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB` as the user that is rvm is being installed as works. Head currently doesn't work for me on debian 9 installing rvm as a non root user.

[2018-12-14 22:51] zz9pzza commented on #187
As I said on #186 "Doing gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB as the user that is rvm is being installed as allows the ansible run to complete. "

Head of master currently doesn't work for me on debian 9 installing rvm as a non root user. ( Without doing that command as the approriate user )

( Thank you

[2018-12-15 11:16] pkuczynski commented on #186
Your issue is `GPG signature verification failed`. That's because you have not imported gpg keys. If you run this command for a user installing rvm, the issue will go away. There is also a fix for rvm ansible role, which I am waiting for @lpaulmp to release...

[2018-12-15 11:27] #187 closed, assigned to nobody

[2018-12-16 01:21] NuckChorris commented on #187
@pkuczynski Any chance we could get a release of this fix onto Ansible Galaxy?

Also I think #185 missed a necessary fix here:

https://github.com/rvm/rvm1-ansible/blob/master/tasks/rvm.yml#L35-L37

Thankfully I think this step is generally skipped in favor of the gpg2-builtin download, but this should probably be changed to reference your key too nonetheless

[2018-12-17 13:32] pkuczynski commented on #187
I just added #189, but I am not a heavy ansible user. Can anyone confirm it's correct syntax?

[2018-12-17 13:33] pkuczynski commented on #187
@NuckChorris I do not control Ansible account. Trying to reach @lpaulmp but have not succeded so far :(

[2018-12-17 13:55] lpaulmp commented on #187
Hey sorry guy I lost over the weekend, I haven't installed slack in my phone :(

[2018-12-17 15:09] geerlingguy commented on #186
On new server builds, this is still happening on Debian and Ubuntu though; and manually applying the PR as a patch didn't seem to fix it (with the `--batch` addition). But still, it would be good to get a new release sometime soon; there are a lot of commits to master since 2.0.1.

[2018-12-17 19:08] lpaulmp commented on #186
@geerlingguy yeah the patch didn't seem to fix the issue with GPG, I didn't release a stable version because GPG is not working properly yet

[2018-12-18 10:19] pkuczynski commented on #187
I just approached a release of the new version 2.1.0 following @lpaulmp suggestions. Let's see if that works...

[2018-12-18 13:21] alex-mohemian commented on #187
I still have the issue on 2.1.1

[2018-12-18 13:40] pkuczynski commented on #186
I just released a new version which should fix the issue u mention...

[2018-12-18 22:10] zz9pzza commented on #187
`       fatal: [localhost]: FAILED! => {"changed": true, "cmd": "/tmp/rvm-installer.sh stable --path ~/.rvm --auto-dotfiles  --user-install", "delta": "0:00:01.079891", "end": "2018-12-18 22:08:40.585726", "msg": "non-zero return code", "rc": 2, "start": "2018-12-18 22:08:39.505835", "stderr": "gpg: Signature made Thu 13 Dec 2018 03:09:53 PM UTC\ngpg:                using RSA key 7D2BAF1CF37B13E20

[2018-12-20 16:03] geerlingguy commented on #186
Testing the latest version of the role now. I was (until today) using an extra task in my playbook to ensure that extra GPG key was added in my `pre_tasks`:

[code]

[2018-12-20 16:11] geerlingguy commented on #186
...and I can confirm that extra task is no longer required if using rvm.ruby v2.1.1. Thanks!

[2018-12-20 22:39] caitlin615 commented on #167
I'm not sure if this will help, but I found that (assuming you have gpg installed via brew), adding `export PATH=$PATH:/usr/local/bin` to the user's `.bashrc` fixed this problem for me.

[2018-12-22 19:20] pkuczynski commented on #186
Awesome! Good to hear :)

[2019-01-03 21:10] thbar opened #193 "bundler requires RubyGems version >= 3.0.0"
On an existing Ansible setup using this role, or for a fresh install, I'm getting this error:

[code]

If I understand correctly, this will affect anyone using this role without `rvm1_bundler_install: False`.

My understanding is that the available fixes are:
- Modifying the role to freeze the version of bundler (like hinted in #191)
- Modifying the role to upgrade rubygems to a specific version (

[2019-01-03 22:47] thbar commented on #193
There will be a bundler fix to avoid this problem https://github.com/bundler/bundler/pull/6867

[2019-01-04 12:45] thbar commented on #193
The release of bundler v2.0.1 solves this for me.

Ideally, being able to pass a version (like in #191, but optional) would be great.

I'll close this for now.

[2019-01-04 12:45] #193 closed

[2019-01-04 12:48] thbar commented on #178
@mmolinac ruby 2.5.0 is one year old. Could you instead try to install 2.5.3, and report back if it also fails?

[2019-01-04 12:54] thbar commented on #181
@e-moshaya the error you see mentions:

You can configure the role to avoid trying to install libs this way:

[code]

(see https://rvm.io/rvm/autolibs for the available values - default is 3 so `install-packages`)

After that you'll have to install the missing packages yourself. Here is what I do on Ubuntu, for instance:

[code]

then later:

[code]

On a sidenote, Ruby 2.3.1 has security issues,

[2019-01-04 13:57] pkuczynski commented on #178
@mmolinac can you do as suggested in the other thread:

[code]

[2019-01-04 14:08] thbar commented on #166
@pkuczynski I suggest closing this one (I don't have the rights to), since 1.8.7 is not maintained anymore & have been for years.

[2019-01-04 14:11] pkuczynski commented on #166
Agree!

[2019-01-04 14:11] #166 closed

[2019-01-04 14:42] pkuczynski commented on #181
@e-moshaya can you post output of `cat /etc/*release`

[2019-01-04 14:46] e-moshaya commented on #181
@pkuczynski here's the output:

NAME="Amazon Linux"
VERSION="2"
ID="amzn"
ID_LIKE="centos rhel fedora"
VERSION_ID="2"
PRETTY_NAME="Amazon Linux 2"
ANSI_COLOR="0;33"
CPE_NAME="cpe:2.3:o:amazon:amazon_linux:2"
HOME_URL="https://amazonlinux.com/"
Amazon Linux 2

[2019-01-04 15:10] #181 closed

[2019-01-04 15:11] pkuczynski commented on #181
I applied a fix in https://github.com/rvm/rvm/pull/4568. You can try with `rvm get master` (without ansible please)

[2019-01-07 15:34] Januson opened #194 "Install fails with no action detected"
I tried to install RVM with Ruby 2.4.2 according to the example in your README but it failed with an error. I used this definition.

[code]

Here is the error message.

[2019-01-09 09:00] #194 closed

[2019-01-13 23:18] mmolinac commented on #178
@thbar I can check with out dev team and see if that version suits them, and then try.

[2019-01-17 22:11] DannyBen commented on #178
I am also having the same problem (although without he Ansible role, just plain `rvm install`) - Ruby 2.5.0 cannot be installed with RVM, same error - on a pristine Ubuntu 18.

Installing Ruby 2.5.3 works.

[2019-01-26 14:17] xacaxulu commented on #136
+1

[2019-01-29 07:11] meierw opened #195 "Suggestion: rvm1_symlink_to in defaults"
I think it would be a good idea to move `rvm1_symlink_to` (and most likely `rvm1_symlink_binaries` and `rvm1_symlink_bundler_binaries`) to `defaults` instead of `vars`.

The reasoning being - I recently had a use case where I needed to override this variable from `/usr/local/bin` to `/bin`. And first I tried this approach:
[code]
Which didn't work. The role still copied the symlinks to `/usr/local

[2019-02-04 10:37] pjnagel opened #196 "RVM signature verification failures due to not using same gpg/gpg2 as RVM installer uses"
The rvm.ruby role uses the gpg command when importing keys, i.e. 'gpg --batch --keyserver {{ item }} --recv-keys {{ rvm1_gpg_keys }}'.

The RVM installer itself will, however, use gpg2 in preference to gpg if gpg2 is available.

In many (most?) cases that is not a problem, since both programs use the same ~/.gnupg/pubring.gpg keyring.

However, in some installations, gpg2 actually uses ~/.gnupg/pu

[2019-02-07 13:51] tisba commented on #196
I think I ran into the same issue. Do you have a workaround, @pjnagel? I'm not sure I fully understand what is going on and I'm a bit lost on what I could do to solve this.

[2019-02-13 19:28] Draiken opened #198 "Curl dependency error swallowed"
After wasting quite a bit of time trying to decipher this error from Ansible, I found out that curl was not installed.
[code]
There's nothing here that says that curl isn't installed and the stdout is misleading with the missing file name on the URL moving people further from the solution.

I discovered curl was missing after manually running the installer with `set -x` and seeing this line:
[code

[2019-02-14 10:01] tisba commented on #196
For me, this issue is not clearly reproducible. Sometimes it fails, sometimes it works. Very frustrating :(

[2019-02-14 16:21] pjnagel commented on #196
@tisba

As workaround, I run the following before importing the rvm.ruby galaxy role:

[code]

As far as reproducing the issue goes, the only clue I have is my earlier comment on ~/.gnupg/pubring.kbx. Something one does with gpg2 makes it decide to create a new pubring in a new format. Whatever that thing is, it must be something that is not supported by the pubring format that gpg1 used. Beyond t

[2019-02-14 16:23] tisba commented on #196
Great, thanks! I'll give this a try in the next couple of days!

[2019-02-15 03:12] pjnagel commented on #58
@georf

Note that the workaround for #196 which I posted on that issue also contains an example of not downloading a key when the key is already trusted.

[2019-02-15 08:07] georf commented on #58
Thank you. I lost track of it. I did this at my code:

[code]

For this the `rvm1_gpg_keys` variable have to be an array.

[2019-02-15 13:29] Scaramush opened #199 "gpg task fails on Debian stable"
Can be fixed by adding --no-tty parametr to shell task:
  shell: 'gpg --no-tty --batch --keyserver {{ item }} --recv-keys {{ rvm1_gpg_keys }}'

[2019-04-29 20:39] wytcld opened #202 "Documentation incomplete"
Please, when writing up examples, test that they work as given and don't depend on the user knowing the "obvious" things you have left out.

"ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path. ...

"The offending line appears to be:
  - name: Configure server with ruby support for single user
    ^ here"

This is from quite exactly putting o

[2019-05-09 08:31] tvw commented on #195
Yeah, the yaml notation used here is very strange.

When you want to have

[code]

it should look like this:

[code]

Using [] or {} is bad style, though [xxx] for a one element array in a one-liner should be ok,

[2019-05-09 08:53] tvw opened #203 "I don't get it."
My playbook looks like this:

[code]

with a file-system like this:

[code]

How can I install rvm and some rubies from within one of my roles?

Also the yaml used in the examples looks very strange to me and not very yaml.

[2019-05-21 07:46] tchia04 commented on #203
You can always use a yaml syntax checker such as this one here to see if it has valid yaml syntax
http://www.yamllint.com/

You can also look at the following link for the yaml syntax
https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html

[2019-05-22 14:22] mcg commented on #58
` TASK [rvm : Import GPG keys from keyservers]` can be super slow at times. Would love to see this change implemented.

[2019-07-12 09:26] olea commented on #129
I've spent a couple days fighting with the gem ansible module and environment configuration. Frustrated I've changed to just using shell invocations. With the stock gem module I never get my gems installed under ~/.rvm but always at ~/.gem.

Please consider add something about this to the documentation.

Other than this, thanks for the job!

[2019-08-20 00:24] gthank opened #205 "Installing bundler fails when using a <major>.<minor>-latest version of Ruby"
[code]
 fails, but the following does not.

[code]

The problem seems to be that the actual version getting installed is being shown by RVM as `2.3.8-latest`, and when the bundler install script greps through the installed rubies, its search for `2.3-latest` gets no results.

[2019-08-29 22:25] dgm opened #206 "bundler conflict"
When trying to install ruby 2.5.3  (or maybe when running the script after it has already been installed)  I get:

ERROR:  Error installing bundler:
"bundle" from bundler conflicts with /home/project/.rvm/rubies/ruby-2.5.3/bin/bundle

[2019-09-06 13:05] marzdgzmn commented on #132
I'm experiencing the same issue on CentOS 7 using v2.1.2. Has anyone found any resolution for this?

[2019-09-06 14:38] Pepan commented on #132
I created hook my self instead

[code]

[2019-09-06 16:21] marzdgzmn commented on #132
Thanks. I thought I could make this work if I installed it using root, unfortunately, it gives me the same error.

[2019-09-27 09:10] thbar opened #209 "Regression: rubies are not installed"
I believe #204 introduced a regression which forbids the installation of the configured rubies, at least for me on Ansible 2.8.3.

In this code:

https://github.com/rvm/rvm1-ansible/blob/deb1d3e6212d9ec6605510554bf268d18688513e/tasks/rubies.yml#L11-L14

the `rvm1_rubies | bool` expression evaluates to false, which makes the install be skipped:

[code]

This later results in an error during `Instal

[2019-09-27 09:12] thbar commented on #209
FWIW, #204 PR was failing during CI because of this exact problem.

In particular, see:
- installing rubies is skipped at https://travis-ci.org/rvm/rvm1-ansible/builds/557845602#L570
- the error occurs at https://travis-ci.org/rvm/rvm1-ansible/builds/557845602#L590

[2019-09-27 09:18] thbar commented on #209
Reverting to latest Galaxy release (2.1.2) solve the issue.

[2019-10-07 14:05] sparunakian opened #210 "Configuration of autolibs when RVM is already installed"
Hi,

I don't understand the use of this condition:

https://github.com/rvm/rvm1-ansible/blob/deb1d3e6212d9ec6605510554bf268d18688513e/tasks/rvm.yml#L58

If there is no RVM binary, it will be installed before this task, so it will be possible to configure it and if there is a RVM binary, it is possible to configure it. Shouldn't this condition removed?

Currently, RVM can only be configured when it

[2019-10-08 02:46] bramses commented on #178
Experiencing the same problem!

[2019-10-16 10:18] tanist-johnlewis commented on #187
I have the exact same issue as above, which has not been answered, but has been closed. Fingers in ears not listening or is there actually a solution? Getting expensive now...

[2019-10-16 10:39] alex-mohemian commented on #187
@tanist-johnlewis [this workaround](https://github.com/rvm/rvm1-ansible/issues/186#issuecomment-449047681) is still the way to go.

[2019-10-27 13:58] Anyoks commented on #178
Having a similar issue. No light?

[2019-10-27 14:14] Anyoks commented on #178
Apparently You can't compile Ruby with RVM unless Ruby is already present on the system. Run this first: `sudo apt-get install ruby-full` Then re-run: `rvm install ruby-2.5.0`

[2019-10-27 14:38] thbar commented on #178
Please note that Ruby 2.5.0 includes many security vulnerabilities (some important) which have been fixed in later 2.5.x releases. You should target latest 2.5.x (currently 2.5.7) instead of 2.5.0.

See https://www.ruby-lang.org/en/security/

[2019-10-27 19:10] Anyoks commented on #178
@thbar thanks for pointing that out! I sure will update my Ruby.

[2019-12-01 07:51] nitishkumargupta commented on #178
This worked for me. Thanks @Anyoks

[2019-12-04 14:13] froblesmartin commented on #209
Same issue here! #207 fixed it for me

[2020-02-11 10:56] Kulgar commented on #209
Same here, #207 fixed it for me too

[2020-04-06 14:49] mehyedes commented on #135
I have hit the same issue, where the file is not installed.
Had to add another task to update `.bash_profile` for my user:
[code]

[2020-04-15 22:25] dogaoz opened #213 "How to do mixed-user install with this?"
How to do mixed-user install with this?

[2020-06-04 12:28] ksz2k commented on #194
@Januson did you fix it? I have same issue

[2020-07-27 12:30] thbar commented on #209
@rvm/ansible based on today's testing on a client deployement, I believe this is now fixed (via #207).

I will create a changelog PR to replace this.

[2020-07-27 12:35] thbar commented on #209
See comment above. Advertised in #216, I'll close now.

[2020-07-27 12:35] #209 closed

[2020-07-27 12:38] thbar commented on #178
@rvm/ansible I'll close this one. Ruby 2.5.0 is an old version and lacks important security fixes.

If someone meets installation issue with the latest 2.5.x, please re-open a specific issue!

[2020-07-27 12:38] #178 closed

[2020-07-27 14:34] thbar commented on #156
This is being addressed in https://github.com/rvm/rvm1-ansible/pull/21 (wip).

[2020-07-27 15:02] thbar opened #217 "Improving installation of Bundler"
Poke @rvm/ansible. I'm consolidating a couple of thoughts here as a basis for discussion.

No strong certainties here, mostly a brain dump at this point, and I could be wrong here or there!

There are a number of attempts to let someone specify the version of Bundler:
- https://github.com/rvm/rvm1-ansible/pull/191
- https://github.com/rvm/rvm1-ansible/pull/197
- https://github.com/rvm/rvm1-ansible

[2020-07-27 18:38] pkuczynski commented on #217
Yeah, I was wondering the same but didn't have any idea how to solve the issue :/

[2020-07-28 06:09] gildegoma commented on #217
@thbar thank you very much for filing this issue ❤️
It was exactly what I planned to do "ASAP" (as I was afraid that one of these PRs get merged "too quickly" 😉)

You mean in the proposed PRs, don't you?

I think this is indeed the way to go: Allow to optionally specify a Bundler version per Ruby.

The probably tricky thing to implement: an optional "detailed" format for elements of the `rvm1_rubi

[2020-07-28 10:46] thbar commented on #217
You welcome @gildegoma! Indeed I was concerned about PR merged too fast, and having to handle back compatibility & changes later.

Yes, this is what I meant indeed!

I thought of exactly the Hash structure you are proposing, keeping backward compatibility with a single string too (but maybe not forever, time will tell).

When you wrote `ruby: '2.2.10'`, I suggest using `ruby: 'ruby-2.2.10'` instea

[2020-07-28 12:31] thbar commented on #217
I am closing the various related PRs for now. I noticed an extra bit of feedback which we can take into account to design a more complete solution:

https://github.com/rvm/rvm1-ansible/pull/197#issuecomment-479342187

We should make it easy to avoid the installation of bundler completely, in addition to what's already outlined above.

[2020-07-29 13:31] thbar commented on #217
@Kulgar has good thoughts on Slack related to another solution: the removal of installation of bundler from this role. I must verify on my end what this would mean, but it is probably a better solution actually.

I'll let him comment here so we can discuss!

[2020-07-29 17:26] Kulgar commented on #217
So, yeah, I was mostly saying that maybe we shouldn't care about bundler within this rvm ansible role.

We can easily handle bundler installation thanks to the ansible [gem module](https://docs.ansible.com/ansible/latest/modules/gem_module.html). I already do that for almost all my ansible projects after I installed ruby through this rvm role and it works just fine.

Here is an example of a task I

[2020-07-30 06:16] thbar commented on #217
@Kulgar overall I feel letting the user install bundler is more flexible & powerful, compared to the attempts I pointed to. The only drawback is that what is described in #46 is not elegant at all. Maybe this could be solved with a bit of documentation or templates, though.

I will have to play around with it in the coming weeks on client projects to figure out what I really prefer, personally!

@

[2020-07-30 08:14] Kulgar commented on #217
I was mostly pointing to #46 to show different examples of what can be done.
But... I mostly think that bundler should be part of the app deployment process, as each ruby/rails app may use a different version of bundler (or may even not use it), I rather see bundler as an app dependency rather than a server requirement.

So it may be best to install bundler from the remote app folder where a .ruby

[2020-07-30 13:35] thbar opened #218 "Ansible --check mode fails on "Delete ruby if relevant""
While working on maintenance for a client, I noticed that #212 will fail when I run in `--check` mode:

[code]

The list check just before is skipped, resulting in that error.

This is not necessarily a blocker, but it will be better to fix that at some point because `--check` mode is an important feature of Ansible.

Poke @danochoa in case you happen to test this out later!

[2020-07-30 13:36] thbar commented on #156
#212 has been merged in `master` and seems to work well (except a bug on "check" mode #218). I believe we can close for now!

[2020-07-30 13:36] #156 closed

[2020-08-01 06:23] gildegoma commented on #218
I baked something to run some `--check` tests during the CI builds. I may propose it as part of #219, or simply after this one get merged.

[2020-08-06 05:44] gildegoma opened #223 "Migrate to a new "Continuous Integration as a Service" Platform"
Candidates are (very likely): GitHub Actions or Circle CI

The build approach will remain the same: Run Ansible Playbooks against Docker containers (to cover different operating systems).

To be configured:
- [ ] Per-push Builds for Pull Requests
- [ ] Per-push Builds for Branches
- [ ] Daily Build of `master` Branch

**Note:** This should be added while keeping Travis CI setup active, so it will

[2020-08-18 11:08] #218 closed

[2020-09-11 15:38] sowndarya22 commented on #134
how to solve this problem if I don't want to insert the below line:

[code]

[2020-09-11 15:56] sowndarya22 opened #224 "Problem installing rubies with rvm1_user"
How do I pass the rvm1_user root password with the variable? I get the below error :

[code]

Installing ruby with root works fine but with rvm1_user... since I am my user should pass the password to switch to root and i dont want to allow auto login as root

[2020-09-12 08:07] thbar commented on #217
I had the opportunity (thanks to clients needs) to practice more in that area over the last few weeks. I must say I still prefer to have bundler installed via Ansible in my cases (not by the application), but I do not use this role for that specific part anymore (I use `rvm1_bundler_install: false`).

My position would be at this point, based on what I know now:
- We could keep the feature as it i

[2020-09-19 10:14] thbar commented on #131
As @manubo pointed out, I believe this is due to naming change. Closing for now, but please re-open if you face that issue.

[2020-09-19 10:14] #131 closed

[2020-09-25 11:59] thbar commented on #217
I have summarised my current solution in this article:

https://thibautbarrere.com/2020/09/19/managing-bundler-and-rubygems-with-ansible

[2020-09-25 13:26] Kulgar opened #225 "Use rvm/ubuntu_rvm ppa for ubuntu distributions"
As this ppa exists: https://github.com/rvm/ubuntu_rvm
And does quite nice things (quoted from rvm slack from @raelgc ):

It could be nice to use this ppa for ubuntu distributions instead of the rvm installer script: https://raw.githubusercontent.com/rvm/rvm/master/binscripts/rvm-installer

Or at least, to have an option to use that ppa instead of the installer script.

What do you think?

I could

[2020-10-26 03:58] #46 closed

[2021-02-04 19:08] dgm commented on #206
That moment when you search google for a problem, find a really good match ... and it's a problem you wrote yourself with no answers. :(

[2021-02-04 19:47] dgm commented on #206
I fix it manually by doing a gem update --system  and then re-running the ansible script.   I'd love to have that happen in here before attempting to install bundler.

[2021-02-04 19:57] dgm commented on #206
A solution!

rvm1_ruby_install_flags: --without-bundler

[2021-02-04 19:57] #206 closed

[2021-02-19 18:24] dgm commented on #224
I pass an option to this role:  rvm1_autolib_mode: 2    which makes it not try to auto-install the packages.   That also means I have to install those packages with ansible prior to installing rvm.

[2021-04-19 10:49] G-Bianchi opened #226 "Error while evaluating conditional (not ansible_check_mode and rvm1_gpg_keys != '' and (gpg_import is not defined or gpg_import.rc != 0)): 'dict object' has no attribute 'rc'"
rvm1-ansible/tasks/rvm.yml, 'Import GPG keys from keyservers' on line 30 cause an error while evaluating conditional (not ansible_check_mode and rvm1_gpg_keys != '' and (gpg_import is not defined or gpg_import.rc != 0)): 'dict object' has no attribute 'rc'

I suggest :

when: not ansible_check_mode and rvm1_gpg_keys != '' and (gpg_import is not defined or (gpg_import.rc | default('') != 0))

[2021-05-14 10:37] gammarayb opened #227 "Deprecation warnings"
`TASK [rvm.ruby : Detect if rubies are installed] ********
[DEPRECATION WARNING]: evaluating 'rvm1_rubies' as a bare variable, this behaviour will go away and you might need to add |bool to the expression in the future. Also see CONDITIONAL_BARE_VARS configuration toggle. This feature will be removed in
version 2.12. Deprecation warnings can be disabled by setting deprecation_warnings=False in ans

[2021-07-16 16:45] libert-xyz opened #228 "Import GPG keys from keyservers] / ipv4.pool.sks-keyservers.net"
OS: Ubuntu 20.04 LTS

Looks like the pool https://sks-keyservers.net/ has been deprecated and it should be removed from the [defaults](https://github.com/rvm/rvm1-ansible/blob/f1500e939361ddedc31772a3a7dfe5f1843fcc4e/defaults/main.yml#L49)

Logs:

`failed: [127.0.0.1] (item=hkp://pool.sks-keyservers.net) => {"ansible_loop_var": "item", "changed": false, "cmd": "gpg --batch --keyserver hkp://pool.s

[2021-09-03 17:40] vyngur commented on #147
Having the same issue. It appears so that the playbook user var is being ignore?

`./main.yml`:

[code]

`./roles/main.yml`:

[code]

[code]

[2021-10-12 23:16] isikyus commented on #177
rvm1-ansible does use `sudo` as the docs recommend.

The tasks in https://github.com/rvm/rvm1-ansible/blob/master/tasks/main.yml use Ansible's "become" feature, which in turn uses `sudo` to run things as the specified user.

[2021-10-19 19:01] suryart opened #229 "Ruby 3.0.0 is not installing"
I am using Debian 10 buster ec2 machines for running the task:

[code]

When I run this I get the following error:

Any idea of what is going wrong here?

[2021-10-20 10:47] suryart commented on #229
FWIW, this works only with root user access but not the non-sudo(deploy user).
Workaround: I am currently changing the ownership to the deploy user later after rvm.ruby:

[code]

roles/fix_rvm_access/tasks/main.yml:

[code]

[2021-11-17 08:51] terry-mccarthy commented on #155
This seems to be still an issue .. workaround above works for me

[2021-11-23 02:44] stevenhaddox commented on #155
This is still an issue it seems. I just encountered the same error on CentOS 8. The above change seems to get it working perfectly.

[2022-01-13 10:01] ruudgrosmann opened #231 "ruby install hangs on user input"
I noticed that installing a ruby on a remote server with a user install always hangs after some time. The ruby appears to be installed, but the ansible-playbook command hangs. I figured out what is going on by adding a redirect to the install command and keeping an eye on the output file.
The rvm command asks for user input and the ansible task hangs.

I see this in the rvm output:
'''
Ruby was bu

[2022-03-01 23:07] sfgeorge opened #233 "CI Builds are not running"
Travis CI Builds are not running, so there is no automated test coverage on PRs.

<img width="857" alt="PR stuck waiting for Travis to run" src="https://user-images.githubusercontent.com/208529/156263586-c491b58f-c5e1-4790-829c-a9a2190c3205.png">

The latest Travis CI build was apparently 1 year ago.

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/208529/156263972-17f

[2022-03-01 23:53] sfgeorge commented on #233
It looks like this is due to the following policy changes on Travis to address abusers of the service.

[The new pricing model for travis-ci.com – Nov 2, 2020](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing#:~:text=Building%20on%20a%20public%20repositories%20only)

So they still support free open-source builds, but with a formal email request and allotment process.

It's a reasonable

[2022-03-02 12:38] pkuczynski commented on #233
We should move to github actions like we did with main rvm repo. @sfgeorge can you take it over?

[2022-03-02 15:56] sfgeorge commented on #233
Yep! On it 👍

[2022-03-15 02:05] Aevyz commented on #228
Temporary hotfix that might work: https://github.com/rvm/rvm1-ansible/pull/232#issuecomment-1067483852

[2022-03-22 01:59] sfgeorge commented on #233
Just sharing a quick note.  This is still in-progress and now making good headway.

I'm developing this over on sfgeorge/rvm1-ansible#1 in order to be able to easily run GitHub Actions over on my fork.  Once ready, I'll open a PR on the main repo here.

[2022-03-25 20:54] #155 closed

[2022-03-26 10:26] thbar commented on #228
#232 has been merged into master.

[2022-03-26 14:22] #228 closed

[2022-03-26 21:37] #233 closed

[2022-03-26 22:18] pkuczynski commented on #231
@thbar @sfgeorge what do you think about this one?

[2022-03-27 00:45] sfgeorge commented on #231
That's very helpful that this workaround is documented for people who hit this issue.

But I'm wary to build that in though for a few reasons, mainly because we will be blindly saying 'yes' to any other anticipating prompts that come up, from RVM, Ruby or otherwise.

Moreover, A fresh install of RVM & a Ruby should not trigger RVM to be prompting this.  This is either a bug in RVM (which I am unsu

[2022-03-27 07:08] pkuczynski commented on #229
@sfgeorge @thbar should we do anything about it, or shall we just close it with this workaround documented here?

[2022-03-27 08:51] thbar commented on #229
@pkuczynski given that 3.0.0 lacks security fixes provided in later 3.0.x, I would probably close, unless the same issue also exists with 3.0.3 (https://www.ruby-lang.org/en/downloads/releases/).

[2022-03-27 08:56] thbar commented on #231
@pkuczynski it is the type of temporary issues for which I usually create a fork myself, report the problem back upstream, until the upstream problem is fixed.

Completely agree with the points raised by @sfgeorge, and we can investigate though!

[2022-03-27 09:11] pkuczynski commented on #229
@suryart we will close for now, but let us know if the issue still exists and we will re-open...

[2022-03-27 09:11] #229 closed

[2022-03-27 09:14] pkuczynski commented on #231
Let's wait if @ruudgrosmann will come up with reproducible case, otherwise we will close...

[2022-03-27 09:15] pkuczynski commented on #227
I released the new version yesterday. Sorry for the delay. Closing this one...

[2022-03-27 09:15] #227 closed

[2022-03-28 20:42] pkuczynski commented on #177
@thbar @sfgeorge what do you think? Should we do anything about it or just close it?

[2022-03-28 20:42] pkuczynski commented on #147
@thbar @sfgeorge what do you think?

[2022-03-28 21:53] sfgeorge commented on #177
@isikyus is right.  The become feature is used, which in turn uses sudo.  I believe this can be closed.

[2022-03-28 21:58] pkuczynski commented on #177
Thanks for the feedback @sfgeorge. Closing...

[2022-03-28 22:00] sfgeorge commented on #147
This is worth investigating.

@fcevado, @vyngur Could you provide more info so we can reproduce this?

This project currently tests successfully against Ubuntu 14.04, 16.04, 18.04 and 20.04.  Clearly, whatever issue you're hitting the current tests do not uncover.  It'll be key if you provide a minimum reproducible case, in addition to the Ubuntu and rvm1-ansible versions, so we can understand the

[2022-03-29 06:55] thbar commented on #177
It's not closed yet apparently, so I'll go ahead and close it @pkuczynski ; but if this comes up again, maybe we can add some documentation with what is here later!

[2022-03-29 06:55] #177 closed

[2022-03-29 07:59] ruudgrosmann commented on #231
In the meantime I have upgraded my OS and as well ansible. I have tried reproducing this issue successfully though. On the install server, I removed ruby and tried reinstalling it. After the cpu load dropped, I could see from the output of rvm (on the install server) that the ruby was installed, but on the host ansible was still busy doing nothing.

The information you asked for:
- Version of rvm/

[2022-03-29 08:08] ruudgrosmann commented on #231
the rvm.ruby install: tarfile created, but I cannot attach it here. I have no graphical file manager to drag and drop or copy it to the clip board. Can I upload it somewhere?

[2022-03-29 09:38] pkuczynski commented on #231
Maybe use https://wetransfer.com?

[2022-03-29 09:45] ruudgrosmann commented on #231
https://wetransfer.com/downloads/1054df4ce35b3715c4fed78c1b927c2420220329094400/41515ade36c22ae2982698c1da69455620220329094430/7140b0

[2022-03-29 23:27] sfgeorge commented on #231
Thank you, @ruudgrosmann!  Investigating.

[2022-03-30 02:16] sfgeorge commented on #231
@ruudgrosmann, I haven't yet been able to successfully reproduce this.  Could I trouble you for some additional context?

* The value of {{jrubyversie}}
* From the install server, can you share a tarball or zip of `ls -lah /data | head -n 2`?  Looking just for the permissions on the /data directory.
* From the install server, can you share a tarball or zip of `/data/rvm`?
* Can you share the recen

[2022-03-30 09:05] ruudgrosmann commented on #231
The output from the ansible install _on the installation server_ is the same as in the question: the do-you-wish-to-trust message
The value of the jrubybversion is not that relevant for the problem, because the problem occurs before the playbook tries to install jruby, but its value is jruby-9.2.14.0
The /data directory has owner root, group ruud and file mode 775. So user deploy is not allowed to

[2022-03-30 10:59] ruudgrosmann commented on #231
By reading the rvm script _rvmrc_trust_ I found another workaround for this problem, which does not include hacking the rvm.ruby role code. That would be to add a line to the deploy user's .rvmrc
`rvm_trust_rvmrcs_flag=1`
in a seperate role prior to running the rmv.ruby role. Not perfect either, but visible in the playbook.

[2022-03-30 12:53] thbar commented on #223
In #234, we moved to GitHub Actions.

[2022-03-30 12:53] #223 closed

[2022-03-30 12:55] thbar commented on #217
I will close for now. I must add to my article that in some cases, for JRuby only, I must first remove an pre-existing bundler installation. I will share some code on demand here.

[2022-03-30 12:55] #217 closed

[2022-03-30 12:57] thbar commented on #203
This sounds like a general Ansible question, more than something specific to the role. I will close for now, but please re-open if you have more interrogations.

[2022-03-30 12:57] #203 closed

[2022-03-30 12:59] thbar commented on #202
I do understand your pain. Please note we're all users (including all contributors), and contributors have a very limited bandwidth.

Closing for now, but a PR to correct this would be most welcome!

[2022-03-30 12:59] #202 closed

[2022-03-30 13:00] thbar commented on #199
Note to @sfgeorge - I wonder if this is already covered by some tests at the moment (anyone can look into it, not just you :P)

[2022-03-30 13:06] thbar commented on #154
@tadman is it still a pain for you after all those years?

[2022-04-02 21:14] fcevado commented on #147
@sfgeorge sorry, I can't help with that. I don't have access to the environment that had that issue. I'd wait on @vyngur for any feedback, but on my side I'm ok with closing this issue.

[2022-04-08 06:24] mmolinac opened #236 "Releases not being pulled by Ansible Galaxy"
I've noticed that the last version published in Ansible Galaxy is 2.1.2.
However, according to the [Contributing guidelines](https://github.com/rvm/rvm1-ansible/blob/bb64cfdf861a84619854916f880328d2e719076b/CONTRIBUTING.md) page, a new release on GitHub and adding a tag to the master branch is all that's required for it to work.
Looks like something else is missing, because new version 2.2.0 is ta

[2022-04-08 06:49] mmolinac commented on #236
It could be related to [tests not building](https://travis-ci.org/github/rvm/rvm1-ansible/builds/755176211) on Travis CI.
I'm afraid I'm not familiar with the errors on some of the tests (CentOS).

[2022-04-08 20:59] pkuczynski commented on #236
@lpaulmp @thbar @sfgeorge any idea?

[2022-04-10 09:25] thbar commented on #236
I looked a bit into this, just sharing initial bits at this point.

The Travis setup has been removed in https://github.com/rvm/rvm1-ansible/pull/235.

It used to include this:

https://github.com/rvm/rvm1-ansible/blob/0fcf5f38ec5084115ee665f1fa22898fcf52024b/.travis.yml#L54-L55

I have no idea if it worked or not, but it looks like an interesting suppression, which could be a cause.

Also I came

[2022-04-19 22:03] pkuczynski commented on #236
There are plenty of gha which allows to send [web hook notifications](https://github.com/marketplace?type=actions&query=webhook+). Thing is that Ansible Galaxy seems to only support Travis at the moment: https://github.com/ansible/galaxy/issues/1379

Maybe we should just mimic travis payload, as someone suggested? @sfgeorge do you wanna have a look at this or shall we wait for @thbar?

[2022-04-19 22:05] pkuczynski commented on #236
Looks like @sfgeorge already had a look into this https://github.com/ansible/galaxy/issues/46 and gave up? Can you say something about it @sfgeorge ?

[2022-04-19 22:06] pkuczynski commented on #236
Some suggestions here too https://github.com/ansible/galaxy/issues/2070

[2022-04-19 22:58] sfgeorge commented on #236
@pkuczynski I didn't start any actual legwork on it, but my comment on ansible/galaxy#46 suggests that perhaps someone write a reusable GitHub Action that uses GitHub Actions many available [context variables](https://docs.github.com/en/actions/learn-github-actions/contexts) and transforms them to make a POST to Ansible Galaxy mimic'ing a POST from Travis-CI.

Pro: Would avoid having to touch a li

[2022-04-20 14:35] pkuczynski commented on #236
So it looks there are couple of GHA which allows to achieve the same result: https://github.com/marketplace?type=actions&query=galaxy+

@sfgeorge would you like to tackle that as you were the original author of CI change?

[2022-04-20 14:56] sfgeorge commented on #236
@pkuczynski short answer – Yeah, I can definitely take a stab, will do 👍

Longer answer – Those solutions use `ansible-galaxy role import ...`, which to my understanding will publish the latest version of the role, but not update the build status.  In truth, we should do both.  I can take a stab at each.

[2022-04-20 15:42] pkuczynski commented on #236
Awesome! Thanks!

[2022-04-27 02:17] tadman commented on #154
@thbar Since I've migrated my workflow to Docker, hasn't been a problem, so can't speak to the Ansible side of things.

[2022-04-28 10:39] pkuczynski commented on #154
Then I guess we should close it. If anybody else encounters this, let us know...

[2022-04-28 10:39] #154 closed

[2022-05-09 21:21] pkuczynski commented on #236
@sfgeorge any chance you can give it a shot soon?

[2022-05-25 12:31] claasz commented on #236
For anyone wondering how to install 2.2.0 in the meantime: As a workaround you can use
`$ ansible-galaxy install https://github.com/rvm/rvm1-ansible/archive/refs/tags/v2.2.0.tar.gz`

[2022-05-26 14:21] sfgeorge commented on #236
@pkuczynski Apologies, it may be a little while before I can get to this due to other commitments.

[2022-06-13 18:12] coldnebo commented on #236
Still an issue:

[code]

ok,  this works:

[code]
then run your playbook as usual:
[code]

[2022-06-13 19:37] coldnebo commented on #56
I'm getting something similar, but only for rake:

[code]

what does this mean?  is there a workaround?

[2022-07-21 10:12] lain0 commented on #186
under Ubuntu2004 for me worked this:
[code]

[2022-07-22 08:57] back2net opened #237 "Install bundler if not installed - fail"
target host os: Rocky Linux release 8.6 (Green Obsidian)

ansible [core 2.12.3]
  config file = /home/amfetamin/code/ansible/ansible.cfg
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3.10/site-packages/ansible
  ansible collection location = /root/.ansible/collections:/usr/share/ansible/c

[2022-07-22 09:05] thbar commented on #237
FWIW, I have chosen to install bundler myself now, and have shared my experience here https://thibautbarrere.com/2020/09/19/managing-bundler-and-rubygems-with-ansible. Hope this helps!

[2022-08-16 13:44] vyngur commented on #147
Same as @fcevado, sorry.

[2022-09-11 19:17] wintermoot opened #238 "newb documentation question"
Hi,

I'm new to ansible and have a playbook setup to update and run specific roles/tasks for my different type of servers (mainly a dev host/webserver and a few 3D printing Raspberry PIs running my printers).

I'm trying to automate the setup of my ruby on rails dev environment, and found the rvm1-ansible project here on github.

I believe the issue I'm having is that your instructions seem to sho

[2022-09-12 23:28] wintermoot commented on #238
I should add, when I create a standalone rvm.yml playbook and use the provided example. It kind of works?

Upgraded Ansible to latest 2.13.4 and checked I am using latest v2.1.2 version of rvm.ruby Role from Ansible-Galaxy

When I run my rvm.yml it seems say RVM is installed.. since it then skips the install on the next step. Confirmed the .rvm folder exists in the proper user folder.

But it hang

[2022-09-13 06:27] wintermoot commented on #238
ISSUE:

trying to run a simple rvm.ruby playbook and it installs rvm as expected with proper permissions and .rvm folder is populated.

MISSING: rubies for ruby-2.3.1 (the .rvm/rubies folder is empty) but the ansible playbook seems to say it's OK?

                        TASK [rvm.ruby : Detect if rubies are installed]
                        ******************************************************

[2022-09-14 20:25] wintermoot commented on #238
<pre>
webuser@hoth:~/ansible/deb1$ cat rvm.yml
---

- name: Configure servers with ruby support for single user
  hosts: web_servers

  roles:
    - { role: rvm.ruby,
        tags: ruby,
        rvm1_user: 'webuser',
        rvm1_rubies: ['ruby-2.3.1','ruby-2.3.4'],
        rvm1_bundler_install: True,
        rvm1_delete_ruby: ,
        rvm1_install_path: '~/.rvm',
        rvm1_install_flags: '--a

[2022-09-14 23:31] wintermoot commented on #238
A friend with more Ansible experience pointed out that ansible-galaxy is not the best way to install packages anymore (often out of date).

Version I had:  v2.1.2   rvm.ruby
Version I have now:   v2.2.0 rvm1-ansible

I still wasn't getting any further, it was still stalling on installing rubies.

running the playbook locally on the target host gives me more details

<pre>
TASK [rvm1-ansible : Inst

[2022-09-14 23:46] wintermoot commented on #238
I changed the target version to v2.7.4 for the rubies and ran locally again,  I believe I found the issue,  it's asking for a password!

<pre>

TASK [rvm1-ansible : Install rubies] ********************************************************************
webuser password required for 'apt-get --quiet --yes update':
</pre>

once I put in the password, it was able to run to the end of the playbook!

<pre

[2022-09-15 00:35] wintermoot commented on #238
I should also mention, now that I ran the RVM playbook locally and it installed.. I can run the remote one too, since it just confirms everything is installed and doesn't need to install the rubies, which ends up triggering that password prompt:

So this right here seems to be the root cause (you can only see this, if you run the playbook locally on the target box, instead of running the remote pl

[2022-09-15 20:02] wintermoot commented on #238
The server I am testing with (deb1 from logs above) is running Debian 11 Bullseye with all latest updates applied.

I couldn't find any part of the rvm1-ansible code which referenced this explicit call to 'apt-get --quiet --yes update'.

I'm curious to test with Ubuntu (since it seems to be THE distro referenced in the readme). However, I'd appreciate any advice on how to best deal with this on De

[2022-09-16 14:12] sfgeorge commented on #238
Hello!  First off, Welcome and **thank you** for sharing not only your issues but the solutions you found along the way – so helpful for future readers!

I'm a little late to the party, but nevertheless I have a few comments along all of these issues you've already solved . . . :)

----

Yes, it is possible to invoke rvm1-ansible as a role amongst an existing playbook.   As you may have already di

[2022-09-16 17:45] wintermoot commented on #238
You're welcome! Want it or not, there's some lessons one has to learn when starting out and learned a lot in the process.
All the tips you included in your reply are excellent and I'm going to add those to my Ansible and Ruby coding process.

Didn't realize it was so picky :) I should dive deeper into the actual syntax of YML.

That makes sense, I really appreciate your help with detailed instruct

[2022-09-22 15:02] mmolinac commented on #236
@sfgeorge Have you been able to give a look at the publishing issue?

[2022-09-22 16:22] sfgeorge commented on #236
Unfortunately I haven't had time to do this.  But I want to share my understanding of a few options we have for solving this problem if someone is able to take a stab.

**Option 1** – ansible-galaxy import (probably easiest)

By adding a [ansible-galaxy import](https://docs.ansible.com/ansible/latest/galaxy/dev_guide.html#import-a-role) command to the CI/CD process, we can trigger galaxy importing